<div class="modal show" #contentSection id="moreBidForm"   tabindex="-1" role="dialog"
  aria-labelledby="moreBidForm">
  <div class="modal-dialog  mw-75 border-none  mx-auto" role="document">
    <div class="modal-content">

      <div class="modal-header bg-transparent pl-2">
        <h5 class="modal-title" id="exampleModalLabel">Car Bid Listing</h5>
        <button  type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <div class="car-details">
          <div class="container">

            <div class="row">
              <div class="col-md-12">

                <div class="sidebar-widget">
                  <div class="unordered-lists table-responsive text-center">
                    <table class="table table-bordered-custom-modal table-striped table-image-set">
                      <thead class="thead-dark-custom-modal">
                        <tr>                        
                          <th>Dealer</th>
                          <th>Dealership</th>
                          <th>Legal Contact</th>
                          <th>Price</th>
                          <th>Applied On</th>                          
                        </tr>
                      </thead>
                      <tbody *ngIf="bids?.length <= 0">
                        <tr>
                          <td colspan="4" style="text-align:center">No records to display.</td>
                        </tr>
                      </tbody>

                      <tbody *ngIf="bids?.length>0">

                        <tr *ngFor="let bid of bids; let i = index">

                         
                          <td>{{bid?.dealer[0]?.name?.first_name}} {{bid?.dealer[0]?.name.last_name}}</td>
                          <td>{{ bid?.dealership[0]?.legalcoroporationname}}</td>
                          <td>{{ bid?.legal_contact}} </td>
                          <td>{{ bid.price | currency:'USD':true:'2.2-2'}}</td>              
                        
                          <td> {{ bid?.bid_date | date:'dd-MM-yyyy h:mm'}}</td>                        
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

