

<!--=================================
 breadcrumbs and inner-intro -->

 <app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<!--=================================
 breadcrumbs and inner-intro -->


<!--=================================
 forgot-password-form  -->

<section class="login-form page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="section-title">
           <span>{{ 'LOGIN.LOGIN-OPTION-TITLE'| translate:user  }}</span>
           <h2>{{ 'LOGIN.LOGIN-PAGE-TITLE'| translate:user  }}</h2>
           <div class="separator"></div>
         </div>
      </div>
    </div>
    <div class="row justify-content-center">
     <div class="col-lg-6 col-md-12">
       <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="gray-form clearfix">

            <div class="form-group">
             <label for="email">{{ 'FOGOT.EMAIL'| translate  }}* </label>
               <input id="email" class="form-control" [ngClass]="{ 'is-invalid': (forgotPasswordForm.controls.email.touched || submitted) && forgotPasswordForm.get('email').errors }" type="text" [ngClass]="{ 'is-invalid': (forgotPasswordForm.controls.email.touched || submitted) && forgotPasswordForm.get('email').errors }" placeholder="{{ 'FOGOT.EMAIL'| translate  }}" formControlName="email">
               <p *ngIf="forgotPasswordForm.controls.email.touched || submitted">
                  <app-form-validation-errors  [errors]="forgotPasswordForm.get('email').errors"></app-form-validation-errors>      
                </p>
            </div>             
      

            <button  type="submit" [ngClass]="{ 'submit-btn-disable': !forgotPasswordForm.valid }" [disabled]="!forgotPasswordForm.valid" class="button red">{{ 'FOGOT.SEND-BUTTON'| translate  }} </button>

          </div> 
        </form>                  
      </div>
     </div>
   </div>
</section>

<!--=================================
 forgor-password-form  -->