 <!--=================================
 breadcrumbs and inner-intro -->

 <app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

 <section #contentSection class=" page-section-ptb accordian_listing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
        
        <aw-wizard #wizard class="custom-css">    
                <aw-wizard-step stepTitle="Basic Info" (stepEnter)="scrollToSpecificDiv($event)" [canExit]="moveDirection.bind(this, basicInfoWizard.valid)">  
                        <form [formGroup]="basicInfoWizard">
                            <div formGroupName="basic_info" class="add_car">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                                
                                        <label>Where is this car currently located?*</label>
                                        <input mask="00000" type="text" class="simple_select form-control placeholder" placeholder="ZIP" formControlName="vehicle_zip" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_zip').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_zip').errors }">
    
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_zip').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors minLength=2 maxLength=5 errorPrefix="Zip " patternError="Must enter valid zip code." [errors]="basicInfoWizard.controls.basic_info.get('vehicle_zip').errors"></app-form-validation-errors>   
                                        </p>
                                        
    
                                    </div>
                                </div>    

                                <div class="tab_container">
                                <div class="row">
                    
                                    <div class="form-group col-md-6">
                                        <div class="form-group">
                                            <div class="Radio_BTN">
                                                <input type="radio" formControlName="vehicle_preference" (click)="setVehicleReferenceValue('VIN')" value="VIN" id="one12">
                                                <label for="one12">Look up vehicle by VIN or Plate</label>
                                            </div> 
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="Radio_BTN">
                                                <input type="radio" formControlName="vehicle_preference" (click)="setVehicleReferenceValue('Year')" value="Year" id="two">
                                                <label for="two">Select Vehicle Year</label>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="Radio_BTN">
                                                <input type="radio" formControlName="vehicle_preference" (click)="setVehicleReferenceValue('Existing')" value="Existing Vehicle" id="three">
                                                <label for="three">Select from existing Vehicle</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6" *ngIf="isVehicleReferenceSelected('VIN')">
                                        <div class="input_area">
                                            <h3>Auto-fill my VEHICLE details</h3>
                                            <p>Your license plate will not be displayed on your listing</p>
                                            
                                            <div class="input_field">
                                            <input type="text" #vin mask="A{17}" class="simple_select form-control placeholder" placeholder="Enter VIN or License Plate" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vin_number').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vin_number').errors }" formControlName="vin_number"/>   

                                            <button class="button red" type="button" [disabled]="vin.value.length != 17" (click)="onEnterVINFunction(vin.value)"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>

                                            <p *ngIf="basicInfoWizard.controls.basic_info.get('vin_number').touched || isBasicInfoSubmitted" class="">                      
                                                <app-form-validation-errors errorPrefix="VIN " [errors]="basicInfoWizard.controls.basic_info.get('vin_number').errors"></app-form-validation-errors>   
                                            </p>
        
                                            <small class="italic_font text-muted">Mention VIN Number/License Plate and we will automatically pull the vehicle details.</small>
                                            </div>
                                    </div>

                                    <div class="form-group col-md-6" *ngIf="isVehicleReferenceSelected('Year')">
                                            <div class="input_area">  
                                            <h3>SELECT VEHICLE YEAR*</h3>                                                                                   
                                        <div class="input_field">    
                                            
                                            <select #yearValue formControlName="vehicle_year" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_year').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_year').errors }" (change)="getVehicleStatisticsByYear(yearValue.value)" class="selectpicker simple_select">    
                                                <option value="">Select Year</option>
                                                <option *ngFor="let item of yearRange;" value="{{item.label}}">{{item.value}}</option>                                                
                                            </select>
                                        </div>


                                            <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_year').touched || isBasicInfoSubmitted">                      
                                                <app-form-validation-errors errorPrefix="Year " patternError="Must enter valid zip code." [errors]="basicInfoWizard.controls.basic_info.get('vehicle_year').errors"></app-form-validation-errors>   
                                            </p>
                                        </div>
                                           
        
                                    </div>

                                    <div class="form-group col-md-6" *ngIf="isVehicleReferenceSelected('Existing')">
                                        <div class="input_area">
                                            <h3>Select From Existing Vehicle</h3>                                            
                                            
                                            <div class="input_field">
                                                <input type="text" class="simple_select form-control placeholder" placeholder="VIN, Make, Model" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('existing_vehicle').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('existing_vehicle').errors }" formControlName="existing_vehicle"/>          
                                            </div>

                                            <p *ngIf="basicInfoWizard.controls.basic_info.get('existing_vehicle').touched || isBasicInfoSubmitted" class="">                      
                                                <app-form-validation-errors errorPrefix="VIN " [errors]="basicInfoWizard.controls.basic_info.get('existing_vehicle').errors"></app-form-validation-errors>   
                                            </p>
                                        </div>
                                    </div>
                                </div>  
                            </div>     
                                  
                            <div class="vehicle_year_dtl">
                                <div class="row" *ngIf="isBasicInfoFieldsVisible">

                                    <div class="form-group col-md-6" *ngIf="isVinSelected">
                                        <label>Year*</label>

                                        <select #yearValue formControlName="vehicle_year" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_year').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_year').errors }" class="selectpicker simple_select" (change)="getVehicleStatisticsByYear(yearValue.value)">    
                                            <option value="">Select Year</option>
                                            <option *ngFor="let year of yearRange;" value="{{year.label}}">{{year.value}}</option>                                                
                                        </select>
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_make').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors minLength=2 maxLength=50 errorPrefix="Make " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_make').errors"></app-form-validation-errors>   
                                            </p>
                                    </div>
                                    
                                    

                                    <div class="form-group col-md-6">
                                        <label>Make*</label>
                                        <select #makeID (change)="getModelsByMake(makeID.value)" class="simple_select selectpicker" formControlName="vehicle_make" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_make').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_make').errors }">
                                            <option value="">Select Make</option>
                                            <option *ngFor="let make of makes;" value="{{make.name}}">{{make.name}}</option>
                                        </select>
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_make').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors minLength=2 maxLength=50 errorPrefix="Make " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_make').errors"></app-form-validation-errors>   
                                            </p>
                                    </div>                                   

                                    <div class="form-group col-md-6">
                                        
                                        <label>MODEL*</label>
                                        <select class="simple_select selectpicker" #modelID (change)="getTrimsByModel(modelID.value)" formControlName="vehicle_model" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_model').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_model').errors }">
                                                <option value="">Select Model</option>
                                                <option *ngFor="let model of models;" value="{{model.name}}">{{model.name}}</option> 
                                        </select>
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_model').touched || isBasicInfoSubmitted">                      
                                                <app-form-validation-errors errorPrefix="Vehicle Model " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_model').errors"></app-form-validation-errors>   
                                        </p>
                                
                                        
                                    </div>

                                    <div class="form-group col-md-6">
                                                    
                                        <label>TRIM*</label>
                                        <select class="simple_select selectpicker" formControlName="vehicle_trim" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_trim').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_trim').errors }">
                                            <option value="">Select Trim</option>
                                            <option *ngFor="let trim of trims;" value="{{trim.name}}">{{trim.name}}</option> 
                                        </select>
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_trim').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors errorPrefix="Trim " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_trim').errors"></app-form-validation-errors>   
                                        </p>
                                        
                                    </div>


                                    
       
                                    <div class="form-group col-md-6">
                                        <label>Mileage*</label>
                                        <input mask="00" type="text" class="simple_select form-control placeholder" placeholder="Enter the Vehicle Mileage in miles" formControlName="vehicle_mileage" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_mileage').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_mileage').errors }">
    
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_mileage').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors minLength=2 maxLength=2 errorPrefix="Mileage " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_mileage').errors"></app-form-validation-errors>   
                                        </p>			
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Engine*</label>                                        

                                        <select class="simple_select selectpicker" formControlName="vehicle_engine" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_engine').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_engine').errors }">
                                                <option value="">Select Engine</option>
                                                <option *ngFor="let engine of engines;" value="{{engine.name}}">{{engine.name}}</option> 
                                            </select> 

                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_engine').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors errorPrefix="Engine " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_engine').errors"></app-form-validation-errors>   
                                            </p>		
                                    </div>
                
                                
                    
                                    <div class="form-group col-md-6">
    
                                        <label>Transmission*</label>
                                        <select class="simple_select selectpicker" formControlName="vehicle_transmission" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_transmission').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_transmission').errors }">
                                                <option value="">Select Transmission</option>
                                                <option *ngFor="let transmission of transmissions;" value="{{transmission.name}}">{{transmission.name}}</option> 
                                            </select>
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_transmission').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors  errorPrefix="Transmission " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_transmission').errors"></app-form-validation-errors>   
                                        </p>
                                                    
                                    </div>
                
                                
                                    
                        
                                    <div class="form-group col-md-6">
                                        <label>Doors*</label>
                                        <select class="simple_select selectpicker" formControlName="vehicle_doors" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_doors').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_doors').errors }">
                                                <option value="">Select Doors</option>
                                                <option *ngFor="let door of doors;" value="{{door.name}}">{{door.name}}</option> 
                                            </select>
                                            <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_doors').touched || isBasicInfoSubmitted">                      
                                                <app-form-validation-errors errorPrefix="Doors " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_doors').errors"></app-form-validation-errors>   
                                              </p>			
                                    </div>
                    
                               
                                    <div class="form-group col-md-6">
                                        <label>BODY TYPE*</label>
                                        <select class="simple_select selectpicker" formControlName="vehicle_body_type" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_body_type').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_body_type').errors }">
                                                <option value="">Select Body Type</option>
                                                <option *ngFor="let bodyStyle of bodyStyles;" value="{{bodyStyle.name}}">{{bodyStyle.name}}</option> 
                                            </select>
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_body_type').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors errorPrefix="Body Type " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_body_type').errors"></app-form-validation-errors>   
                                            </p> 
                                    </div>
                            
                                    <div class="form-group col-md-6">
                                                    
                                        <label>Fuel Type*</label>
                                        <select class="simple_select selectpicker" formControlName="vehicle_fuel_type" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_fuel_type').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_fuel_type').errors }">
                                                <option value="">Select Fuel Type</option>
                                                <option *ngFor="let fuelType of fuelTypes;" value="{{fuelType.name}}">{{fuelType.name}}</option> 
                                            </select>
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_fuel_type').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors errorPrefix="Fuel Type " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_fuel_type').errors"></app-form-validation-errors>   
                                        </p>
                                        
                                    </div>
                            
                                    <div class="form-group col-md-6">
                                        <label>Drive Type*</label>
                                        <select class="simple_select selectpicker" formControlName="vehicle_drive_type" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_drive_type').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_drive_type').errors }">
                                            <option value="">Select Drive Type</option>
                                            <option *ngFor="let driveType of driveTypes;" value="{{driveType.name}}">{{driveType.name}}</option> 
                                        </select>
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_drive_type').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors errorPrefix="Drive Type " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_drive_type').errors"></app-form-validation-errors>   
                                        </p>			
                                    </div>                        
                                
                                    <div class="form-group col-md-6">
                                                    
                                        <label>Interior Color*</label>
                                        <select class="simple_select selectpicker" formControlName="vehicle_interior_color" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_interior_color').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_interior_color').errors }">
                                                <option value="">Select Interior Color</option>
                                                <option *ngFor="let interiorColor of interiorColors;" value="{{interiorColor.name}}">{{interiorColor.name}}</option> 
                                            </select>
                                            <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_interior_color').touched || isBasicInfoSubmitted">                      
                                                <app-form-validation-errors errorPrefix="Interior Color " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_interior_color').errors"></app-form-validation-errors>   
                                              </p>
                                        
                                    </div>
                            
                                    <div class="form-group col-md-6">
                                        <label>Exterior Color*</label>
                                        <select class="simple_select selectpicker" formControlName="vehicle_exterior_color" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_exterior_color').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_exterior_color').errors }">
                                                <option value="">Select Exterior Color</option>
                                                <option *ngFor="let exteriorColor of exteriorColors;" value="{{exteriorColor.name}}">{{exteriorColor.name}}</option> 
                                        </select>
                                        <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_exterior_color').touched || isBasicInfoSubmitted">                      
                                            <app-form-validation-errors errorPrefix="Exterior Color " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_exterior_color').errors"></app-form-validation-errors>   
                                        </p>			
                                    </div>                        
                                
                                    <div class="form-group col-md-6">
                                                    
                                        <label>Interior Material*</label>
                                        <select class="simple_select selectpicker" formControlName="vehicle_interior_material" [ngClass]="{ 'is-invalid': (basicInfoWizard.controls.basic_info.get('vehicle_interior_material').touched || isBasicInfoSubmitted) && basicInfoWizard.controls.basic_info.get('vehicle_interior_material').errors }">
                                                <option value="">Select Interior Material</option>
                                                <option *ngFor="let interiorMaterial of interiorMaterials;" value="{{interiorMaterial.name}}">{{interiorMaterial.name}}</option> 
                                        </select>
                                            <p *ngIf="basicInfoWizard.controls.basic_info.get('vehicle_interior_material').touched || isBasicInfoSubmitted">                      
                                                <app-form-validation-errors errorPrefix="Interior Material " [errors]="basicInfoWizard.controls.basic_info.get('vehicle_interior_material').errors"></app-form-validation-errors>   
                                            </p>
                                        
                                    </div>
                            
                                </div>
                            </div>
                                                     
                            </div>    
    
                            <div class="form-group text-right">
                                <button class="button red d-inline-block width-auto boder0 mt-4" [disabled]="basicInfoWizard.invalid" (click)="validateBasicInfoWizard()" type="button" awNextStep>Next Step</button>		
                            </div>
                        </form>      
                </aw-wizard-step>    
                <aw-wizard-step stepTitle="Vehicle Images" (stepEnter)="scrollToSpecificDiv($event)" [canExit]="moveDirection.bind(this, uploadVehicleImagesWizard.valid)">
                    <!--Upload Images Section-->
                    <form [formGroup]="uploadVehicleImagesWizard">
                            <div formArrayName="vehicle_images" class="add_car">      
                                
                                
                                <div class="form-group col-md-8">
                                    <div class="vehicle_category">
                                        <div class="form-group">
                                            <div class="Radio_BTN">
                                                <input type="radio" (click)="checkVehicleImageCatgeory('interior')" formControlName="vehicle_image_category_name"  value="interior" id="interior">
                                                <label for="interior">Interior</label>
                                            </div> 
                                        </div> 
                                        <div class="form-group">
                                            <div class="Radio_BTN">
                                                <input type="radio" (click)="checkVehicleImageCatgeory('exterior')" formControlName="vehicle_image_category_name"  value="exterior" id="exterior">
                                                <label for="exterior">Exterior</label>
                                            </div> 
                                        </div> 
                                    </div> 


                                    <div class="vertical-container uploadImages" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
                                        
                                
                                        <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                                                                        
                                            <div class="dropzone dropzone-container draganddrop" [dropzone]="vehicleImagesConfiguration" [disabled]="disabled"></div>

                                            
                                            <div class="thumbnails" *ngIf="vehicleImageCategory == 'interior'">
                                                <div class="thumbnail_list" *ngFor="let interiorImage of interiorImagesArray; let interiorIndex = index;">
                                                    <img src="{{interiorImage}}">
                                                    <i (click)="removeImage(interiorIndex)" class="fa fa-times" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="thumbnails" *ngIf="vehicleImageCategory == 'exterior'">
                                                <div class="thumbnail_list" *ngFor="let exteriorImage of exteriorImagesArray; let exteriorIndex = index;">
                                                    <img src="{{exteriorImage}}">
                                                    <i (click)="removeImage(exteriorIndex)" class="fa fa-times" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            </div>


                        <div class="col-md-8">
                                                      
                            <div class="button_Submission">
                                <button class="button red d-inline-block width-auto boder0 mt-4" type="button" awPreviousStep>Previous Step</button>
                                
                                <button class="button red d-inline-block width-auto boder0 mt-4" [disabled]="uploadVehicleImagesWizard.invalid || isVehicleImagesSubmitted" (click)="validateVehicleImagesWizard()" type="button" awNextStep>Next Step</button>		
                            </div>
                        </div>
                    </form>                 
                          
                        <!--Upload Images Section-->

                </aw-wizard-step>   
                <aw-wizard-step stepTitle="About Vehicle" (stepEnter)="scrollToSpecificDiv($event)" [canExit]="moveDirection.bind(this, aboutVehicleWizard.valid)">
                    <form [formGroup]="aboutVehicleWizard">
                        <!--More About Vehicle Section-->

                        
                        <div class="row">
                            <div class="form-group col-md-12">                                                
                                <label>Vehicle has any second key*</label>
                                <label class="switch">
                                        <input type="checkbox" (change)="toggleVehicleSecondKey($event)" formControlName="vehicle_has_second_key">
                                        <span class="slider round"></span>
                                    </label>

                            </div>
                        </div>    
                        <!--Vehicle AfterMarket Section-->
                        <div formGroupName="vehicle_aftermarket" class="row">

                                

                                <div class="form-group col-md-12">                                                
                                    <label>Vehicle has any aftermarket options*</label>
                                    <label class="switch">
                                            <input type="checkbox" #vehicleAftermarket formControlName="vehicle_aftermarket_value" (change)="toggleVehicleAfterMarket($event)">
                                            <span class="slider round"></span>
                                        </label>
                                </div> 
                                    
                                <div class="form-group col-md-12" *ngIf="isVehicleAftermarketSelected">
                                        <label>Description*</label>
                                        <input type="text" class="simple_select form-control placeholder" placeholder="" formControlName="vehicle_aftermarket_description" [ngClass]="{ 'is-invalid': (aboutVehicleWizard.controls.vehicle_aftermarket.get('vehicle_aftermarket_description').touched || isAboutVehicleSubmitted) && aboutVehicleWizard.controls.vehicle_aftermarket.get('vehicle_aftermarket_description').errors }">        
                                        
                                        <p *ngIf="aboutVehicleWizard.controls.vehicle_aftermarket.get('vehicle_aftermarket_description').touched || isAboutVehicleSubmitted">                      
                                            <app-form-validation-errors errorPrefix="Description " [errors]="aboutVehicleWizard.controls.vehicle_aftermarket.get('vehicle_aftermarket_description').errors"></app-form-validation-errors>   
                                        </p>
                                </div>

                                <!--Upload Images Section-->
                                
                                <div class="form-group col-md-12" *ngIf="isVehicleAftermarketSelected">
                                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
                                       
                                
                                        <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                                                                        
                                            <div class="dropzone dropzone-container" [dropzone]="vehicleAftermarketConfiguration" [disabled]="disabled"></div>

                                        </div>

                                        
                                    </div>


                                    <div id="vehicleAfterMarketPreview" class="dropzone-previews"></div>
                                </div>    
                                  
                                <!--Upload Images Section-->

                                  
                        </div>  
                        <!--Vehicle AfterMarket Section-->

                        <!--Vehicle Ownership Section-->                           
                        <div formGroupName="vehicle_ownership" class="row"> 
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="title">
                                            <h6 class="text-red">Vehicle's Ownership</h6>
                                        </div>
                                    </div> 
                                </div>  
                                <div class="row">
                                <div class="form-group col-md-12">                                                
                                    <label>Clean Title</label>
                                    <label class="switch">
                                        <input type="checkbox" #vehicleCleanTitle formControlName="vehicle_clean_title" (change)="toggleVehicleCleanTitle($event)">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                </div>
                                <div class="row" *ngIf="!isVehicleCleanTitleSelected">

                                    <div class="form-group col-md-3">
                                            <input type="radio" value="Salvage" formControlName="vehicle_ownership_value" (click)="checkVehicleOwnershipRadioValue('Salvage')">
                                            <label for="Salvage">Salvage</label>
                                    </div> 
                                    <div class="form-group col-md-3">
                                            <input type="radio" value="TMU" formControlName="vehicle_ownership_value" (click)="checkVehicleOwnershipRadioValue('TMU')">
                                            <label for="TMU">TMU</label>
                                    </div>     
                                    <div class="form-group col-md-3">
                                            <input type="radio" value="Lemon Law" formControlName="vehicle_ownership_value" (click)="checkVehicleOwnershipRadioValue('Lemon Law')">
                                            <label for="Lemon Law">Lemon Law</label>
                                    </div> 
                                    <div class="form-group col-md-3">
                                            <input type="radio" value="Other" formControlName="vehicle_ownership_value" (click)="checkVehicleOwnershipRadioValue('Other')">
                                            <label for="Other">Other</label>
                                    </div>     
                                    
                                </div> 

                                <div class="row" *ngIf="isOtherSelected">
                                        <div class="form-group col-md-12">
                                                <label>Description*</label>
                                                <textarea class="simple_select form-control placeholder" formControlName="vehicle_ownership_description" [ngClass]="{ 'is-invalid': (aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_ownership_description').touched || isAboutVehicleSubmitted) && aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_ownership_description').errors }"></textarea>        
                                                
                                                <p *ngIf="aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_ownership_description').touched || isAboutVehicleSubmitted">                      
                                                    <app-form-validation-errors errorPrefix="Description " [errors]="aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_ownership_description').errors"></app-form-validation-errors>   
                                                </p>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>My Pay Off*</label>
                                        <input type="text" class="simple_select form-control placeholder" placeholder="" formControlName="vehicle_pay_off" [ngClass]="{ 'is-invalid': (aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_pay_off').touched || isAboutVehicleSubmitted) && aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_pay_off').errors }">        
                                        
                                        <p *ngIf="aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_pay_off').touched || isAboutVehicleSubmitted">                      
                                            <app-form-validation-errors errorPrefix="Pay Off " [errors]="aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_pay_off').errors"></app-form-validation-errors>   
                                        </p>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                            <label>Finance Bank*</label>
                                            <input type="text" class="simple_select form-control placeholder" placeholder="" formControlName="vehicle_finance_bank" [ngClass]="{ 'is-invalid': (aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_finance_bank').touched || isAboutVehicleSubmitted) && aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_finance_bank').errors }">        
                                            
                                            <p *ngIf="aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_finance_bank').touched || isAboutVehicleSubmitted">                      
                                                <app-form-validation-errors errorPrefix="Finance Bank " [errors]="aboutVehicleWizard.controls.vehicle_ownership.get('vehicle_finance_bank').errors"></app-form-validation-errors>   
                                            </p>
                                    </div>
                                </div>
                        </div>
                         <!--Vehicle Ownership Section-->

                        <!--More About Vehicle Section-->


                        


                        <div class="form-group text-right">
                            <div class="button_Submission">
                                <button class="button red d-inline-block width-auto boder0 mt-4" type="button" awPreviousStep>Previous Step</button>
                                
                                <button class="button red d-inline-block width-auto boder0 mt-4" [disabled]="aboutVehicleWizard.invalid" (click)="validateAboutVehicleWizard()" type="button" awNextStep>Next Step</button>		
                            </div>		
                        </div>
                    </form>    
                </aw-wizard-step> 
                <aw-wizard-step stepTitle="Vehicle's Condition" (stepEnter)="scrollToSpecificDiv($event)" [canExit]="moveDirection.bind(this, vehicleConditionWizard.valid)">
                    <form [formGroup]="vehicleConditionWizard">
                        
                            <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="title">
                                            <h5 class="text-red">Car Condition</h5>
                                        </div>
                                    </div>
                            </div> 

                            <div formGroupName="vehicle_condition" class="row">
                                <div class="form-group col-md-3">
                                        <input type="radio" value="Ready for resale without any reconditioning" (click)="checkVehicleConditionRadioValue('resale')" formControlName="vehicle_condition_value">
                                        <label for="resale">Ready for resale without any reconditioning</label>
                                </div> 
                                <div class="form-group col-md-3">
                                        <input type="radio" value="May need some reconditioning" (click)="checkVehicleConditionRadioValue('reconditioning')" formControlName="vehicle_condition_value" >
                                        <label for="reconditioning">May need some reconditioning </label>
                                </div> 

                                <div class="form-group col-md-3">
                                        <input type="radio" value="Needs some reconditioning but yet functional" (click)="checkVehicleConditionRadioValue('functional')" formControlName="vehicle_condition_value" >
                                        <label for="functional">Needs some reconditioning but yet functional</label>
                                </div> 
                                <div class="form-group col-md-3">
                                        <input type="radio" value="Parts only" (click)="checkVehicleConditionRadioValue('parts')" formControlName="vehicle_condition_value">
                                        <label for="parts">Parts only</label>
                                </div> 
                                <div class="form-group col-md-12" *ngIf="isVehicleConditionSelected">
                                        <label>Description*</label>
                                        <input type="text" class="simple_select form-control placeholder" placeholder="" formControlName="vehicle_condition_description" [ngClass]="{ 'is-invalid': (vehicleConditionWizard.controls.vehicle_condition.get('vehicle_condition_description').touched || isVehicleConditionSubmitted) && vehicleConditionWizard.controls.vehicle_condition.get('vehicle_condition_description').errors }">        
                                        
                                        <p *ngIf="vehicleConditionWizard.controls.vehicle_condition.get('vehicle_condition_description').touched || isVehicleConditionSubmitted">                      
                                            <app-form-validation-errors errorPrefix="Description " [errors]="vehicleConditionWizard.controls.vehicle_condition.get('vehicle_condition_description').errors"></app-form-validation-errors>   
                                        </p>
                                </div>

                               
                                <!--Upload Images Section-->
                                
                                <div class="form-group col-md-12" *ngIf="isVehicleConditionSelected">
                                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
                                       
                                
                                        <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                                                                        
                                            <div class="dropzone dropzone-container" [dropzone]="vehicleConditionConfiguration" [disabled]="disabled"></div>

                                        </div>

                                        
                                    </div>


                                    <div id="vehicleConditionPreview" class="dropzone-previews"></div>
                                </div>    
                                  
                                <!--Upload Images Section-->


                            </div> 
                            <div class="row">
                                <div class="form-group col-md-6">
                                                
                                    <label>Seller Comments*</label>                               

                                    <textarea class="form-control placeholder" formControlName="vehicle_comments" [ngClass]="{ 'is-invalid': (vehicleConditionWizard.controls.vehicle_comments.touched || isVehicleConditionSubmitted) && vehicleConditionWizard.controls.vehicle_comments.errors }"></textarea>

                                    <p *ngIf="vehicleConditionWizard.controls.vehicle_comments.touched || isVehicleConditionSubmitted">                      
                                        <app-form-validation-errors minLength=2 maxLength=50 errorPrefix="Vin Number " [errors]="vehicleConditionWizard.controls.vehicle_comments.errors"></app-form-validation-errors>   
                                    </p>
                                    
                                </div>
                        
                                <div class="form-group col-md-6">
                                        
                                </div>
                    
                            </div> 

                            <div class="form-group text-right">
                                <div class="button_Submission">
                                    <button class="button red d-inline-block width-auto boder0 mt-4" type="button" awPreviousStep>Previous Step</button>
                                    
                                    <button class="button red d-inline-block width-auto boder0 mt-4" [disabled]="vehicleConditionWizard.invalid" (click)="validateVehicleConditionWizard()" type="button" awNextStep>Next Step</button>		
                                </div>		
                            </div>

                           
                    </form> 
                </aw-wizard-step>  
        </aw-wizard>
                
                
            </div>
        </div>
    </div>
    
</section>


 