app-listing .submission_Btns {
    margin: 18px 0 00 0;
}
app-listing .submission_Btns button {
    margin: 0 3px;
}

app-listing .modal-header {
    border: 0;
    text-align: center;
}
app-listing .modal-title {
    text-align: center;
    display: block;
    width: 100%;
}
app-listing .modal-body label {
    font-size: 14px;
    font-weight: 600;
}
app-listing .modal-body {
    padding: 15px 50px;
}

            .modal-header {
                border: 0;
                text-align: center;
            }
            .modal-title {
                text-align: center;
                display: block;
                width: 100%;
            }
            .modal-body label {
                font-size: 14px;
                font-weight: 600;
            }
            .modal-body {
                padding: 15px 50px;
            }

            .fa-gavel{
                    color:#d90f22;
            }

            /* ----------------- */
            .carfax_img{
                display: inline-block;
                margin-left: 10px;
            }
            .carfax_img img {
                width: 80px;
                max-width: 100%;
            }
            notification_icon span i{
                position: relative;
            }
            .badge {
                position: absolute;
                background: red;
                color: #fff;
                border-radius: 50%;
                top: 0px;
                right: 72px;
                font-size: 9px;
            }
            .bg_all{background:#f1f2f2;}


            /*New Css For Standard Options Starts Here*/
            .standard_options_heading {
                text-align: center;
                padding: 25px 0px 30px 0px;
                font-weight: 600;
                color: #000;
                margin-bottom: 0px;
            }
            .Standard_options_categories_heading {
                text-align: left;
                padding-left: 30px;
            }
            .Standard_options_categories span {
                width: auto !important;
                padding-right: 6px;
            }
            .custom_flex_width {
                flex: 0 0 100%;
                max-width: 100%;
                border: 1px solid #e2e2e2;
                margin-top: 1px;
            }
            .additional_options_heading h5 {font-size: 13px;}
            /*New Css For Standard Options Ends Here*/

.border_class{
    border: 1px solid #e2e2e2;
    padding: 0;
    margin: 1px 0;
}
.list_content {

    padding: 13px 30px;

}
.border_bottom{border-bottom:0px solid #e2e2e2;}
.img_car {
    width: 100%;
    height: 108px;
    display: block;
    align-items: center;
    background: none;
    border-right: 0;
    padding: 2px;
}
.img_car img{
    display: inline-block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.listing_section .option_outer h2 {
    background: none;
    margin: 10px 0;
}
.bg_al{background:#f1f2f2;}

.thumbnail_text h5 {
    background: #333;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;

    margin: 0;
    font-size: 12px;
    text-align: center;
}
.modal_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.modal_img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.right_content h6 {
    font-size: 12px;
    text-transform: capitalize !important;
}

.right_content h6 span {
    text-transform: capitalize !important;
    margin-left: 10px;
    color: #333;
    font-weight: 400;
};
.green_color{
   color:  green !important;
}
.orange_color{
    color: #FF8C00
}
datatable-body-cell:last-child, datatable-header-cell:last-child {
    width: 160px!important;
}

.notification_icon {
    position: relative;
}
.notification_icon .badge {
    position: absolute;
    top: -2px;
    left: 9px;
    min-width: 15px;
    min-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

datatable-header-cell, datatable-body-cell {
    white-space: pre-wrap!important;
    word-break: break-word;
}

datatable-body-row , datatable-body-cell{
    height: auto!important;
}
app-listing .fa-gavel{
        color:#d90f22;
}


.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell:first-child {
    width: 14px!important;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    padding: 10px 8px;
    border-bottom: 0px solid #d1d4d7;
    font-size: 14px;
}

#bidModal .modal_img {
    width: auto;
    max-width: 160px;
    border: 1px solid #eaeaea;
    height: auto;
    margin: auto;
}
.make_model {
    text-decoration: underline;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: 10px 0;
    color: #272727;
}
#bidModal .close
{
    position: absolute;
    right: 22px;
}
.btn_apply{
    background-color: #129012;
    color: #fff;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
}