<!--=================================
 breadcrumbs and inner-intro -->

<app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>


<!--=================================
  blog  -->


<section class="blog page-section-ptb pad-b-30">
  <div class="container">

    <div class="row">

      <div class="col-md-12">
        <div class="blog-sidebar">



          <div class="sorting-options-main">

            <div *ngIf="sectionEnable=='list'" class="filter_opt">

              <div class="row sorting-options top_sorting">
                <div class="col-md-12">
                  <div class="ml-auto text-right product-listing ">



                    <div class="price-search">
                      <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="search" class="form-control placeholder" (input)="onSearch($event.target.value)"
                          placeholder="Type Make, Model, Trim etc..">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row blog-sidebar listing_outer">







                <div class="col-md-12 d-flex">

                  <div class="sidebar-widget mb-0">
                    <div class="tags">

                      <ul>
                        <li [ngClass]="{ active: page.type=='all'}"> <button
                            (click)="onChangeListType('all')">Active</button></li>
                        <li [ngClass]="{ active: page.type=='applied'}"><button (click)="onChangeListType('applied')">My Bids</button></li>
                        <li [ngClass]="{ active: page.type=='wishlist'}"><button
                            (click)="onChangeListType('wishlist')">WishList</button></li>

                        <li [ngClass]="{ active: page.type=='hidden'}"><button
                            (click)="onChangeListType('hidden')">Hidden</button></li>
                        <li [ngClass]="{ active: page.type=='transactions'}"><button
                            (click)="onChangeListType('transactions')">Transactions</button></li>



                      </ul>
                    </div>
                  </div>
                  <div class="right_sec right_filter ml-auto">
                    <div (click)="show('list')" class="list_view d-inline-block">
                      <img src="/assets/images/list_view_icon.png" alt="list_view_icon" class="img-fluid">
                    </div>
                    <div (click)="show('sort')" class="sort_BTN d-inline-block">
                      <img src="/assets/images/sort_icon.png" alt="sort_icon" class="img-fluid">
                    </div>
                    <div (click)="show('filter')" class="filter_BTN d-inline-block">
                      <img src="/assets/images/filter_icon_grey.png" alt="filter_icon" class="img-fluid">
                    </div>

                    <app-date-filter (sendDate)="getDateFilter($event)"></app-date-filter>
                  </div>


                </div>

              </div>

            </div>


            <!--Filters-->
            <div *ngIf="sectionEnable=='filter'" class="bid-section filter_by">

              <div class="d-flex">
                <h3 class="d-inline-block">Filters</h3>
                <div class="right_sec right_filter ml-auto">
                  <div (click)="show('list')" class="list_view d-inline-block">
                    <img src="/assets/images/list_view_icon.png" alt="list_view_icon" class="img-fluid">
                  </div>
                  <div (click)="show('sort')" class="sort_BTN d-inline-block">
                    <img src="/assets/images/sort_icon.png" alt="sort_icon" class="img-fluid">
                  </div>
                  <div (click)="show('filter')" class="filter_BTN d-inline-block">
                    <img src="/assets/images/filter_icon_grey.png" alt="filter_icon" class="img-fluid">
                  </div>
                </div>
              </div>



              <div class="filters_inner container">
                <div class="top_filters">
                  <div class="row">
                    <div class="col-md-6 p-md-0">
                      <div class="range_filter dark">
                        <label for="year">Year</label>
                        <div id="year-range"></div>
                        <input type="text" id="year" class="years" readonly />
                      </div>
                    </div>
                    <div class="col-md-6 p-md-0">
                      <div class="range_filter ">
                        <label for="milage">Milage</label>
                        <div id="slider-range"></div>
                        <input type="text" id="milage" readonly>
                        <input type="text" class="bids" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bottom_filter gray-form">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Buying Radius</label>
                        <input class="form-control placeholder" type="text" placeholder="Enter Radius In Miles">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Make</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Model</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Body Style</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Trims</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Doors</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Engine</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Transmission</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Fual Type</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Drive Type</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Interior Colour</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Exterior Colour</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Drive Type</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Interior Colour</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Exterior Colour</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Multiselect</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="submission_buttons">
                        <button class="button">Submit</button>
                        <button class="button">Reset</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Filter END-->

            <!--Sort-->
            <div *ngIf="sectionEnable=='sort'" class="bid-section filter_by sort_by">
              <div class="d-flex">
                <h3 class="d-inline-block">Sort By</h3>




                <div class="right_sec right_filter ml-auto">
                  <div (click)="show('list')" class="list_view d-inline-block">
                    <img src="/assets/images/list_view_icon.png" alt="list_view_icon" class="img-fluid">
                  </div>
                  <div (click)="show('sort')" class="sort_BTN d-inline-block">
                    <img src="/assets/images/sort_icon.png" alt="sort_icon" class="img-fluid">
                  </div>
                  <div (click)="show('filter')" class="filter_BTN d-inline-block">
                    <img src="/assets/images/filter_icon_grey.png" alt="filter_icon" class="img-fluid">
                  </div>


                </div>
              </div>

              <div class="filters_inner container">
                <div class="bottom_filter gray-form">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Order by</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Newest</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Bids Recieved</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>Less Then 5</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Listing End in</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>5 Hrs</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Seller Type</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>New</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Seller Rating</label>
                        <div class="selected-box">
                          <select class="selectpicker my_select">
                            <option>4.5 TO 5 Star</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Show only</label>

                        <div class="Radio_BTN">
                          <input type="radio" name="one" id="one">
                          <label for="one">My Dealership Bids</label>
                        </div>


                        <div class="Radio_BTN">
                          <input type="radio" name="one" id="two" checked>
                          <label for="two">Wishlisted Cars</label>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="submission_buttons">
                        <button class="button">Submit</button>
                        <button class="button">Reset</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Sort End-->

          </div>



          <!-- Data listing -->
          <div *ngIf="sectionEnable=='list'" class="bid-section sidebar-widget">


              <ng-container *ngIf="loading">
                  <table-loader></table-loader>
              </ng-container>
            


            <div class="unordered-lists table-responsive text-center" *ngIf="!loading">

              <ngx-datatable #listingTable class="bootstrap" [rows]="cars"
                [columns]="[{name:'Year'},{name:'Make'},{name:'Model'},{name:'Trim'},{name:'Listed'},{name:'Status'},{name:'Bids'}]"
                [sorts]="[{prop: 'created_at', dir: 'desc'}]" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="80" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                [limit]="page.size" [rowHeight]="60" (sort)="onSort($event)" (page)="setPage($event)">

                <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                    <div class="row_detail col-md-12">
                      <div class="row_detail_inner">
                        <div class="listing_section">
                          <div class="container">

                            <div class="row no-gutters">

                              <div class="col-md-2">
                                <div class="img_car">
                                  <img  src="{{row?.cover_image}}">
                                </div>
                                <!-- <div class="thumbnail_text">
                                  <h5>THUMBNAIL IMAGE</h5>
                                </div> -->
                              </div>

                              <div class="col-md-5 border_class">
                                <div class="bg_all">
                                  <div class="d-flex justify-content-between border_bottom">
                                    <div class="list_content text-center">Trim:</div>
                                    <div class="list_content text-center">{{row.trim}}</div>
                                  </div>
                                  <div class="d-flex justify-content-between border_bottom">
                                    <div class="list_content">Engine:</div>
                                    <div class="list_content">{{row.engine}}</div>
                                  </div>
                                  <div class="d-flex justify-content-between border_bottom">
                                    <div class="list_content text-center">Interior Material:</div>
                                    <div class="list_content text-center">{{row?.interior_material}}</div>
                                  </div>
                                  <div class="d-flex justify-content-between border_bottom">
                                    <div class="list_content text-center">Interior Color:</div>
                                    <div class="list_content text-center">{{row?.interior_color}}</div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-5 border_class">
                                <div class="bg_all">
                                  <div class="d-flex justify-content-between border_bottom">
                                    <div class="list_content text-center">Body:</div>
                                    <div class="list_content text-center">{{row?.body_style}}</div>
                                  </div>
                                  <div class="d-flex justify-content-between border_bottom">
                                    <div class="list_content text-center">Transmission:</div>
                                    <div class="list_content text-center">{{row?.transmission}}</div>
                                  </div>
                                  <div class="d-flex justify-content-between border_bottom">
                                    <div class="list_content text-center">Fuel Type:</div>
                                    <div class="list_content text-center">{{row?.fuel_type}}</div>
                                  </div>
                                  <div class="d-flex justify-content-between border_bottom">
                                    <div class="list_content text-center">Exterior Color:</div>
                                    <div class="list_content text-center">{{row?.exterior_color}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                        <!-- <div class="row">
                          <div class="col-md-12">
                            <div class="vehicle_table_details">

                              <div class="table-responsive">
                                <table class="table table-bordered">
                                  <tr>
                                    <td><span class="head">Trim:</span><span class="value">{{row.trim}}</span></td>
                                    <td><span class="head">Body:</span><span class="value">{{row.body_style}}</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td><span class="head">Engine:</span><span class="value">{{row.engine}}</span></td>
                                    <td><span class="head">Transmission:</span><span
                                        class="value">{{row.transmission}}</span></td>
                                  </tr>
                                  <tr>
                                    <td><span class="head">Interior Material:</span><span
                                        class="value">{{row.interior_material}}</span></td>
                                    <td><span class="head">Fuel Type:</span><span class="value">{{row.fuel_type}}</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td><span class="head">Interior Color:</span><span
                                        class="value">{{row.interior_color}}</span></td>
                                    <td><span class="head">Exterior Color:</span><span
                                        class="value">{{row.exterior_color}}</span></td>
                                  </tr>

                                </table>
                              </div>
                            </div>
                          </div>
                        </div> -->


                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-row-detail>

                <ngx-datatable-column [width]="50" [sortable]="false" [resizeable]="false" [draggable]="false">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                      [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                    </a>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [resizeable]="false" [draggable]="false" name="year" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.year }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [resizeable]="false" [draggable]="false" name="make" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.make }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [draggable]="false" name="model" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.model }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [draggable]="false" name="Trim" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.trim | slice:0:18}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [draggable]="false" name="Miles" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.miles }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [draggable]="false" name="Exterior Color" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.exterior_color }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [draggable]="false" name="Car Condition" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.vehicle_condition?.vehicle_condition_value | slice:0:18 }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [draggable]="false" name="Seller Distance" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.seller_distance | round}} Mi
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column *ngIf="page.type !='transactions'" [resizeable]="false" [draggable]="false" name="bids" prop="best_bid"
                  [sortable]="true">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <!-- $<b>0.00</b> -->
                    <b *ngIf="row?.higest_bid == row?.my_bid[row?.my_bid?.length - 1]?.price && page.type=='applied'" class="text-success">{{row?.my_bid[row?.my_bid?.length - 1]?.price | currency:'USD':true:'2.2-2'}} </b>
                    <b *ngIf="row?.higest_bid> row?.my_bid[row?.my_bid?.length - 1]?.price && page.type=='applied'" class="text-warning">{{row?.my_bid[row?.my_bid?.length - 1]?.price | currency:'USD':true:'2.2-2'}} <span (click)="placeBid(row)" class="btn_apply">Place Bid</span></b>
                    <b *ngIf="row?.totalBids == 0" class="">{{00 | currency:'USD':true:'2.2-2'}} </b>
                    <b *ngIf="row?.totalBids >  0 && !row?.my_bid[0]" class="">{{row?.higest_bid | currency:'USD':true:'2.2-2'}} </b>
                    <span *ngIf="row?.totalBids" class="left_bids">

                     <!-- <button><a routerLink="/dealer/car-bids/{{row._id}}"> See all ({{row?.bids}})
                          bids</a></button>-->


                          <button *ngIf="row?.totalBids == 1" (click)="showBids(row._id)"> See  ({{row?.totalBids}})
                            bid</button>
                          <button *ngIf="row?.totalBids >1" (click)="showBids(row._id)"> See all ({{row?.totalBids}})
                            bids</button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column *ngIf="page.type =='transactions'" [resizeable]="false" [draggable]="false"
                  name="My Bid" prop="miles" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.dealers_bids[0]?.price | currency:'USD':true:'2.2-2'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column *ngIf="page.type != 'applied'" [resizeable]="false" [draggable]="false"
                  name="Listed On" prop="created_at" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.created_at | date:'MM-dd-yyyy'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column *ngIf="page.type == 'applied'" [resizeable]="false" [draggable]="false"
                  name="Applied On" prop="bid_date" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.my_bid[row?.my_bid?.length - 1]?.bid_date | date:'MM-dd-yyyy'}}
                  </ng-template>
                </ngx-datatable-column>
               
                <ngx-datatable-column [resizeable]="false" [draggable]="false" name="Action" [sortable]="false">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>

                    <span class="actions">
                      <!--<button type="button" (click)="show(rowIndex, 'car-view')">
                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                  </button>-->


                      <a title="Car Detail" routerLink="/dealer/car-detail/{{row._id}}"><i class="fa fa-eye"></i></a>

                      

                      <button *ngIf="page.type == 'all'" title="Move To WishList" type="button"
                        (click)="saveToWishList(row._id)">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                      </button>





                      <button *ngIf="page.type == 'wishlist'" title="Hide Car from WishList" type="button"
                        (click)="moveFromWishList(row._id)">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      </button>
                      <button *ngIf="page.type == 'all' || page.type == 'wishlist'" title="Hide Car from Listing"
                        type="button" (click)="hideCar(row._id)">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                      </button>




                      <button *ngIf="page.type == 'hidden'" title="Unhide Car from Listing" type="button"
                        (click)="unhideCar(row._id)">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                      </button>

                      <button *ngIf="page.type == 'all' || page.type == 'wishlist'" title="Place Bid" type="button"
                        (click)="placeBid(row)">
                        <i class="fa fa-gavel" aria-hidden="true"></i>
                      </button>
                     
                      <div class="text-right carfax_img">

                        <img src="assets/images/carfax_img.png">

                      </div>

                    </span>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-footer>
                  <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                    let-isVisible="isVisible">
                    <div class="pagination_outer d-flex">
                      <div class="showing_records">
                        Showing <div class="selected-box number_records">
                          <select class="selectpicker my_select" id="per-page"
                            (change)="onLimitChange($event.target.value)">
                            <option *ngFor="let option of pageLimitOptions" [value]="option.value"
                              [selected]="option.value == currentPageLimit">
                              {{ option.value }}
                            </option>
                          </select>
                        </div> records on page
                      </div>
                      <div class="ml-auto">
                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                          [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                          [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                          [hidden]="!((rowCount / pageSize) > 1)" (change)="listingTable.onFooterPage($event)">
                        </datatable-pager>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="modal fade bd-example-modal-lg feedback-modal_rating" #bidModal id="bidModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog mw-55 border-none  mx-auto" role="document">

    <div class="modal-content p-0">

      <div class="modal-header feedback-header_bg">
        <h5 class="modal-title" id="bidModal">Place Bid</h5>
        <button type="button" class="close opac-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">


        <div class="row">
          <div class="col-md-12">
            <div class="modal_img">
              <img src="{{car?.cover_image}}">
            </div>
            <span class="make_model">{{car?.year}} {{car?.make}} {{car?.model}}</span>
          </div>

        
        </div>


        <form [formGroup]="bidForm">
          <div class="row ">

            <div class="col-md-12">
              <!-- <div class="search_result">
                Suggested Price ${{car?.vehicle_finance_details?.vehicle_offer_in_hands_price}}
              </div> -->

              <div class="selected-box auto-hight form-group w-100">
                <label for="">Assign a DealerShip*</label>
                <select
                  [ngClass]="{ 'is-invalid': (bidForm.controls.dealership_id.touched || submitted) && bidForm.get('dealership_id').errors }"
                  class="margin-top42 my_select w-100 d-block" id="selectStore" (change)="selectStore($event.target.value)"
                  formControlName="dealership_id">
                  <option  selected value="">Select the dealership</option>
                  <option *ngFor="let d of dealerShips;let i = index;" value="{{d._id}}">{{d?.legalcoroporationname}}
                  </option>
                </select>
                <p *ngIf="bidForm.controls.dealership_id.touched || submitted">
                  <app-form-validation-errors errorPrefix="Dealership "
                    [errors]="bidForm.get('dealership_id').errors"></app-form-validation-errors>
                </p>
              </div>

              <div class="selected-box auto-hight form-group w-100">
                <label for="">Assign Legal Contact*</label>
                <select class="margin-top42 my_select w-100 d-block" formControlName="legal_contact"
                  [ngClass]="{ 'is-invalid': (bidForm.controls.legal_contact.touched || submitted) && bidForm.get('legal_contact').errors }">

                  <option value="" selected>Assign legal contact</option>
                  <option *ngFor="let lc of legalContacts;let i= index;">{{lc?.name?.first_name}}
                    {{lc?.name?.last_name}}</option>
                </select>
                <p *ngIf="bidForm.controls.legal_contact.touched || submitted">
                  <app-form-validation-errors errorPrefix="Assigning contact  "
                    [errors]="bidForm.get('legal_contact').errors"></app-form-validation-errors>
                </p>
              </div>

              <div class="selected-box auto-hight form-group w-100">
                <label for="">Bid Price*</label>
                <input type="text" prefix=" $" mask="00000000000"
                  [ngClass]="{ 'is-invalid': (bidForm.controls.price.touched || submitted) && bidForm.get('price').errors }"
                  class="form-control w-100 d-block my_select" formControlName="price">
                <p *ngIf="bidForm.controls.price.touched || submitted">
                  <app-form-validation-errors errorPrefix="Bid price  " [errors]="bidForm.get('price').errors">
                  </app-form-validation-errors>
                </p>
              </div>

              <div class="form-group w-100">
                <div class="submission_Btns text-center">
                  <button class="button red" type="button" (click)="onSubmit()"> Apply</button>
                  <button class="button red black_BTN" type="button" (click)="finishFunction()">Cancel</button>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>



  </div>
</div>
<!--=================================
 blog -->
 <app-car-bids-popup (onClose)="hide($event)" [isOpen]="isBidListingModalOpen" [carId]="selectedCarId"></app-car-bids-popup>
