app-listing .submission_Btns {
    margin: 18px 0 00 0;
}
app-listing .submission_Btns button {
    margin: 0 3px;
}

app-listing .modal-header {
    border: 0;
    text-align: center;
}
app-listing .modal-title {
    text-align: center;
    display: block;
    width: 100%;
}
app-listing .modal-body label {
    font-size: 14px;
    font-weight: 600;
}
app-listing .modal-body {
    padding: 15px 50px;
}

app-listing .fa-gavel{
        color:#d90f22;
}
app-listing datatable-body-cell:nth-child(5), datatable-header-cell:nth-child(5) {
    width: 340px!important;
}