<!--=================================
 breadcrumbs and inner-intro -->

<app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<!--=================================
 breadcrumbs and inner-intro -->


<!--=================================
 forgot-password-form  -->

<section #contentSection class="login-form page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <span>Forgot your password?</span>
          <h2>Forgot Password</h2>
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="gray-form clearfix">

            <div class="form-group">
              <label for="email">Email* </label>
              <input id="email" class="form-control" [ngClass]="{ 'is-invalid': (forgotPasswordForm.controls.email.touched || submitted) && forgotPasswordForm.get('email').errors }"
                type="text" [ngClass]="{ 'is-invalid': (forgotPasswordForm.controls.email.touched || submitted) && forgotPasswordForm.get('email').errors }"
                placeholder="Enter Email" formControlName="email">
              <p *ngIf="forgotPasswordForm.controls.email.touched || submitted">
                <app-form-validation-errors errorPrefix="Email " [errors]="forgotPasswordForm.get('email').errors"></app-form-validation-errors>
              </p>
            </div>


            <button type="submit" [ngClass]="{ 'submit-btn-disable': !forgotPasswordForm.valid }" class="button red">Send</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--=================================
 forgor-password-form  -->