<!--=================================
 breadcrumbs and inner-intro -->

<app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<!--=================================
  breadcrumbs and inner-intro -->

<app-filters [isOpen]="isFiltersModalOpen" [page]="page"></app-filters>

<!--=================================
 blog  -->

<section class="blog page-section-ptb pad-b-30">
    <div class="container">
            <div class="row ">
                    <div class="col-md-12 d-flex"> 
                  <a routerLink="/seller/addcar" class="createNew ml-auto"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create New</a>
                </div>
                </div>
        <div class="row">

            <div class="col-md-12">
                <div class="blog-sidebar">
                   


                    <div class="sorting-options-main">
                        <div class="row sorting-options top_sorting">
                                <div class="col-md-12 d-flex">
                                  <div class="change-view-button">
                                     <a title="Back to car's listing" routerLink="/seller/car-listing"><i class="datatable-icon-left" aria-hidden="true"></i></a>                      
                                   
                                  </div>
                
                
                                  <div class="ml-auto text-right product-listing">
                                 
                
                
                                    <div class="price-search">                 
                                        <div class="search">
                                          <i class="fa fa-search"></i>
                                          <input type="search" class="form-control placeholder" (input)="onSearch($event.target.value)"
                                            placeholder="Type Make, Model, Trim etc..">
                                        </div>
                                      </div>
                                    </div>
                
                
                                </div>
                               
                             
                          
                              </div>
                              
                         
                            <div class="row blog-sidebar listing_outer">
                                
                
                
                
                                 
                
                                
                
                              
                              <div class="sidebar-widget mb-0">
                                    <div class="tags">
                            
                                        <ul>
                                            <li [ngClass]="{ active: page.type=='all'}"> <button
                                                    (click)="onChangeListType('all')">All</button></li>
                
                                            <li [ngClass]="{ active: page.type=='active'}"><button
                                                    (click)="onChangeListType('active')">Active</button></li>
                                            <li [ngClass]="{ active: page.type=='sold'}"><button
                                                    (click)="onChangeListType('sold')">Sold</button></li>
                                            <li [ngClass]="{ active: page.type=='archived'}"><button
                                                    (click)="onChangeListType('archived')">Archived</button></li>
                                        </ul>
                                    </div>
                                </div>
                
                
                                <div class="right_sec ml-auto">
                
                                    <!--<div class="selected-box">
                                        <select (change)="onFilterSort($event)" class="my_select">
                                          <option>Sort by </option>
                                          <option value="miles,asc">Miles: Lowest first</option>
                                          <option  value="miles,desc">Miles: Highest first </option>
                                          <option value="year,asc">Year: Lowest first</option>
                                          <option  value="year,desc">Year: Highest first </option>
                                          <option  value="make,asc">Make: A to Z </option>
                                          <option  value="make,desc">Make: Z to A </option>                  
                                        </select>
                                      </div> -->
                
                                   <div class="input-group date_filters_start d-inline-block">
                                        <input [(ngModel)]="startDateModel"  class="form-control" (dateSelect)="onStartDateSelected($event)" type="text" (click)="startDate.toggle()" placeholder="Start date"
                                            ngbDatepicker #startDate="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()"
                                                type="button"><span><i class="fa fa-calendar"
                                                        aria-hidden="true"></i></span></button>
                                        </div>
                                    </div>
                                 
                                    <div class="input-group date_filters_start d-inline-block">
                                        <input [(ngModel)]="endDateModel" class="form-control" type="text" (dateSelect)="onEndDateSelected($event)" (click)="endDate.toggle()" placeholder="End date"
                                            ngbDatepicker #endDate="ngbDatepicker">

                                            
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()"
                                                type="button"><span><i class="fa fa-calendar"
                                                        aria-hidden="true"></i></span></button>
                                        </div>
                                    </div>
                            
                            
                                    <div data-toggle="tooltip" title="Reset Date Filter" (click)="clearDateFilters()" class="clear_inputs d-inline-block">
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                    </div>
                                </div>                           
                            </div>            
  
                          
                        </div> 




                    
            
                    <div class="sidebar-widget">
                        <div class="unordered-lists table-responsive text-center">

                            <ngx-datatable #listingTable class="bootstrap" [rows]="cars"
                                [columns]="[{name:'Year'},{name:'Make'},{name:'Model'},{name:'Trim'},{name:'Listed'},{name:'Status'},{name:'Bids'}]"
                                [sorts]="[{prop: 'created_at', dir: 'desc'}]" [columnMode]="'force'" [headerHeight]="50"
                                [limit]="currentPageLimit" [footerHeight]="80"
                                [rowHeight]="55" (sort)="onSort($event)" (page)="setPage($event,'all')">

                                <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                    
                                   

                                    <div class="row_detail col-md-12">
                                        <div class="row_detail_inner">                                       
                                        <div class="row">
                                            <div class="col-md-3">
                                                    <span class="head">Trim:</span>
                                                    <span class="value">{{row.trim}}</span> 
                                            </div>
                                            <div class="col-md-3">
                                                    <span class="head">Body:</span>
                                                    <span class="value">{{row.body_style}}</span> 
                                            </div>
                                            <div class="col-md-3">
                                                    <span class="head">Engine:</span>
                                                    <span class="value">{{row.engine}}</span> 
                                            </div>
                                            <div class="col-md-3">
                                                    <span class="head">Transmission:</span>
                                                    <span class="value">{{row.transmission}}</span> 
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-3">
                                                        <span class="head">VIN:</span>
                                                        <span class="value">{{row.vin}}</span> 
                                                </div>
                                                <div class="col-md-3">
                                                        <span class="head">Fuel Type:</span>
                                                        <span class="value">{{row.fuel_type}}</span> 
                                                </div>
                                                <div class="col-md-3">
                                                        <span class="head">Interior Color:</span>
                                                        <span class="value">{{row.interior_color}}</span> 
                                                </div>
                                                <div class="col-md-3">
                                                        <span class="head">Exterior Color:</span>
                                                        <span class="value">{{row.exterior_color}}</span> 
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                
                                
                                
                                </ng-template>
                                </ngx-datatable-row-detail>

                                <ngx-datatable-column
                                    [width]="50"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [canAutoResize]="false">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        <a
                                        href="javascript:void(0)"
                                        [class.datatable-icon-right]="!expanded"
                                        [class.datatable-icon-down]="expanded"
                                        title="Expand/Collapse Row"
                                        (click)="toggleExpandRow(row)">
                                        </a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="year" [sortable]="true" [width]="200">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row.year }}
                                    </ng-template>
                                </ngx-datatable-column>

                                
                                
                                
                                <ngx-datatable-column name="make" [sortable]="true" [width]="200">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row.make }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="model" [sortable]="true" [width]="200">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row.model }}
                                    </ng-template>
                                </ngx-datatable-column>
                                
                                <ngx-datatable-column name="bids" [sortable]="true" [width]="200">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>

                                        <b>{{row.best_bid | currency:'USD':true:'2.2-2'}} </b> <span
                                            *ngIf="row.bids.length>1" class="left_bids">
                                            <!--<button (click)="show(rowIndex, 'posted-car-bids')" class="left_bids">+{{row.bids.length}} more</button>-->
                                            
                                            <button>See all ({{row.bids.length}}) bids</button></span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Rating" prop="car_bids" [sortable]="false"
                                    [width]="200">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <ngb-rating [readonly]="true" aria-labelledby="Rating & Review" [max]="5" [rate]="4">
                                    </ngb-rating>
                                    <span class="rating-number">(5/5)</span>
                                       
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Miles" prop="miles" [sortable]="true">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row.miles | number}}
                                        <!--<span class="left_time">10 Hrs 15 min left</span>-->
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Created At" prop="created_at" [sortable]="true"
                                    [width]="200">
                                    <ng-template let-row="row" ngx-datatable-cell-template>                                        
                                            {{ row.created_at | date:'dd-MM-yyyy h:mm'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Action" [sortable]="false" [width]="200">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>

                                        <span class="actions">
                                            <!--<button type="button" (click)="show(rowIndex, 'car-view')">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>-->
                                            <a routerLink="/seller/car-dashboard-detail/{{row._id}}"><i class="fa fa-eye"></i></a>

                                            <button type="button" (click)="delete(row)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-footer>
                                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount"
                                        let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage"
                                        let-offset="offset" let-isVisible="isVisible">
                                       
                                       
                                        <div class="pagination_outer d-flex">

                                            <div class="showing_records">
                                                Showing <div class="selected-box number_records">
                                                    <select class="selectpicker my_select" id="per-page"
                                                    (change)="onLimitChange($event.target.value)">
                                                    <option *ngFor="let option of pageLimitOptions" [value]="option.value"
                                                        [selected]="option.value == currentPageLimit">
                                                        {{ option.value }} 
                                                    </option>
                                                </select>
                                                </div> records on page
                                            </div>

                                        <div class="ml-auto">
                                                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                                [pagerRightArrowIcon]="'datatable-icon-right'"
                                                [pagerPreviousIcon]="'datatable-icon-prev'"
                                                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
                                                [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                                                (change)="listingTable.onFooterPage($event)">
                                            </datatable-pager>

                                        </div>


                                        </div>

                                    </ng-template>
                                </ngx-datatable-footer>
                            </ngx-datatable>
                        </div>


                        




                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<!--=================================
blog -->



<!-- car-details -->
<!--<app-car-view [isOpen]="isModalOpen" (onClose)="hide($event)" [carObject]="car"></app-car-view>-->

<!-- car-bids-details -->
<app-car-bids [isOpen]="isBidsModalOpen" [carObject]="car"></app-car-bids>                