<div class="modal show" #contentSection id="moreBidForm"   tabindex="-1" role="dialog"
  aria-labelledby="moreBidForm">
  <div class="modal-dialog  mw-75 border-none  mx-auto" role="document">
    <div class="modal-content">

      <div class="modal-header bg-transparent pl-2">
        <h5 class="modal-title" id="exampleModalLabel">All Posted Bids</h5>
        <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <div class="car-details">
          <div class="container">

            <div class="row">
              <div class="col-md-12">

                <div class="sidebar-widget">
                  <div class="unordered-lists table-responsive text-center">
                    <ngx-datatable
                    class="material"
                    [rows]="bidss"
                    [loadingIndicator]="loadingIndicator"
                    [columns]="columns"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [reorderable]="reorderable">
      
                    <ngx-datatable-column name="ref" prop="ref" [sortable]="true" [width]="200">
                      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <span (click)="viewCarDetails(row?.car_id?._id)">
                          #{{ row?.car_id?.ref }}
                        </span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Bid Date" prop="bid_date" [sortable]="true" [width]="200">
                      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        {{ row?.bid_date | date }}
                      </ng-template>
                    </ngx-datatable-column>
    
                    <ngx-datatable-column name="Acceptance Date" prop="bid_acceptance_date" [sortable]="true" [width]="200">
                      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        {{ row?.bid_acceptance_date | date }}
                      </ng-template>
                    </ngx-datatable-column>
    
                    <ngx-datatable-column name="Bid Price" prop="price" [sortable]="true" [width]="200">
                      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        {{ row?.price }}
                      </ng-template>
                    </ngx-datatable-column>
    
                    <ngx-datatable-column name="Contacts" prop="contact" [sortable]="true" [width]="200">
                      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        {{ row?.contact }}
                      </ng-template>
                    </ngx-datatable-column>
    
                    <ngx-datatable-column name="Fee Status" [sortable]="true" [width]="200">
                      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        {{ row?.fee_status }}
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

