<!--=================================
 breadcrumbs and inner-intro -->

<app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<!--=================================
   breadcrumbs and inner-intro -->
<section class="blog page-section-ptb pad-b-30">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="listing_outer blog-sidebar">
          <div class="sidebar-widget">

            <div class="text-md-right mt-md-0 mt-sm-3">
              <button class="button red" (click)="show(1,'createDealership')"> Download </button>
              <div class="widget-search ml-4">
                <i class="fa fa-search"></i>
                <input type="search" class="form-control placeholder" (input)="onSearch($event.target.value)"
                  placeholder="Search....">
              </div>
            </div>
          </div>

          <div class="sidebar-widget">
            <div class="unordered-lists table-responsive text-center">

              <ngx-datatable #listingTable class="material" [rows]="purchases"
                [columns]="[{name:'ref'},{name:'Bid Date'},{name:'Acceptance Date'},{name:'Bid Price'},{name:'Contacts'},{name:'Fee Status'}]"
                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                (page)='setPage($event)'>
                <ngx-datatable-column name="ref" prop="ref" [sortable]="true" [width]="200">
                  <ng-template let-rowIndex="rowIndex" let-row="row"  ngx-datatable-cell-template>
                    <span (click)="viewCarDetails(row?.car_id?._id)">
                    #{{ row?.car_id?.ref }}
                  </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Bid Date" prop="bid_date" [sortable]="true" [width]="200">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    {{ row?.bid_date | date }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Acceptance Date" prop="bid_acceptance_date" [sortable]="true" [width]="200">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    {{ row?.bid_acceptance_date | date }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Bid Price" prop="price" [sortable]="true" [width]="200">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    {{ row?.price }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Contacts" prop="contact" [sortable]="true" [width]="200">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    {{ row?.contact }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Fee Status" [sortable]="true" [width]="200">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    {{ row?.fee_status }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                    let-isVisible="isVisible">


                    <div class="pagination_outer d-flex">

                      <div class="showing_records">
                        Showing <div class="selected-box number_records">
                          <select class="selectpicker my_select" id="per-page"
                            (change)="onLimitChange($event.target.value)">
                            <option *ngFor="let option of pageLimitOptions" [value]="option.value"
                              [selected]="option.value == currentPageLimit">
                              {{ option.value }}
                            </option>
                          </select>
                        </div> records on page
                      </div>

                      <div class="ml-auto">
                        <datatable-pager 
                          [pagerLeftArrowIcon]="'datatable-icon-left'"
                          [pagerRightArrowIcon]="'datatable-icon-right'"
                           [pagerPreviousIcon]="'datatable-icon-prev'"
                          [pagerNextIcon]="'datatable-icon-skip'" 
                          [page]="curPage" [size]="pageSize" [count]="rowCount"
                          [hidden]="!((rowCount / pageSize) > 1)" 
                          (change)="listingTable.onFooterPage($event)">
                        </datatable-pager>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--   dealer purchases listing -->
