<!--=================================
 breadcrumbs and inner-intro -->

 <app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

 <!--=================================
   breadcrumbs and inner-intro -->
   <section class="blog page-section-ptb pad-b-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="listing_outer blog-sidebar">
            <div class="sidebar-widget">
              
              <div class="text-md-right mt-md-0 mt-sm-3">
                  <button class="button red" (click)="show(1,'createDealership')"> Download </button>
                <div class="widget-search ml-4">
                  <i class="fa fa-search"></i>
                  <input type="search" class="form-control placeholder" (input)="onSearch($event.target.value)"
                    placeholder="Search....">
                </div>
              </div>
            </div>

            <div class="sidebar-widget">
              <div class="unordered-lists table-responsive text-center">

                  <ngx-datatable
                  class="material"
                  [rows]="purchases"
                  [columns]="columns"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [externalPaging]="true"
                  [count]="page.totalElements"
                  [offset]="page.pageNumber"
                  [limit]="page.size"
                  (page)='setPage($event)'>
                </ngx-datatable>


                </div>
                </div>
            


          </div>
        </div>
      </div>
    </div>
  </section>

    <!--   dealer purchases listing -->
   