.relative {position:relative; width:100%;}
label span.right-icon {position: absolute;right: -24px;bottom: -40px; padding: 0px 5px; cursor: pointer;}
select {padding:11px;}
.form-group select, .form-group input {margin-bottom:0px;}
.remember-checkbox label {text-transform: none;}
.remember-checkbox {padding:0px;}

.right-icon.right-icon2 {position: absolute;right: -24px;bottom: -40px; padding: 0px 5px; cursor: pointer;}


.user-thumb-col {width:100%; text-align: center; display: inline-block; margin-bottom: 25px;}
.user-thumb {width: 125px; height: 125px; border-radius:100%; border:1px solid #5d5d5d; line-height:110px; overflow: hidden; margin:0px auto; margin-bottom:5px; position: relative;}
.user-thumb-col p { font-size: 13px; color:#5d5d5d; margin:0px; padding:0px 0px 5px 0px;}
.change-photo {border:0px; background: red; color:#fff; margin-top: 5px;}

.my-error {color:green; font-size:13px;}
.my-error i {padding-right:5px;}
.my-error.not-verified {color:red;}
.my-error .fa.fa-check-circle {color:green;}
.change-password-link {text-decoration: underline; color:#5d5d5d;}
.file {
    overflow: hidden;
}
.btn-zoho {
    background:red;
    color: #fff;
}
input[type="file"] {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    width: 80px;
    display: inline-block;
    cursor: pointer;
}
.dz-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dz-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.relative{
    position: relative;
}

.country_code select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9899;
    min-width: auto!important;
    max-width: fit-content;
    padding: 0;
    margin: 10px 0 0 10px;
    background: none;
}

.country_code input {
    padding-left: 60px;
}

.avtar {
    width: 30px;
    height: 30px;
    border: 1px solid #8c8c8c;
    display: block;
    border-radius: 100%;
    overflow: hidden;
}
.actions button {
    padding: 0;
    margin: 0 5px;
    line-height: 1;
    border: 0;
    background: none;
    font-size: 16px;
    cursor: pointer;
}


.legel_contact_count {
    display: inline-block;
    margin-left: 5px;
}

.legel_contact_count button{
    border: 0;
    text-decoration: none!important;
    cursor: pointer;
}
.mw-75{max-width: 75% !important;}
.border-none .Car_details ul li{border-bottom: 0 !important;padding: 11px 15px !important;}
.upload-profile-photo {width: 120px;height: 120px;border: 2px solid #8c8c8c;border-radius: 50%;display: inline-block;object-fit: cover;overflow: hidden;}
.upload-profile-photo >img {width: 100%;height: 100%;object-fit: cover;}
.table-image-set tbody > tr > td > img  {height: 50px !important;}
.table-circle-image {width: 30px;height: 30px;border: 1px solid #8c8c8c;border-radius: 50%;display: inline-block;object-fit: cover;overflow: hidden;vertical-align: middle;}
.table-circle-image >img {width: 100%;height: 100%;object-fit: cover;}
.thead-dark-custom-modal {background: #323232;border: 1px solid #323232;color: #fff;}
.table-bordered-custom-modal {border: 1px solid #dee2e6 !important;}
.table-bordered-custom-modal thead th {font-size: 16px !important;font-weight: 600 !important;font-style: normal;padding:0.75rem !important;}
.table-bordered-custom-modal tbody td {padding: 0.67rem 0.75rem !important;vertical-align: middle !important;}
.show_modal{display: block;}
.date_filters_start{ width:15% !important;}
.date_filters_end{ width:15% !important;}
.clear_inputs {
    padding: 0 12px;
    color: #db2d2e;
    font-size: 21px;
    cursor: pointer;
    vertical-align: middle;
}

.listing_outer .right_sec .date_filters_start {
    position: relative;
    width: 227px!important;
    margin-left: 10px;
}

.listing_outer .right_sec .date_filters_start input {
    width: 100%!important;
    padding: 10px 18px;
}

.listing_outer .right_sec .input-group-append {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0!important;
}
.listing_outer .right_sec .input-group-append {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0!important;
    height: 100%;
}

.blog-sidebar .sidebar-widget .tags li button{
    margin-bottom: 0!important;
}

.table-responsive .left_bids {
    display: block;
    text-decoration: underline;
    background: none;
    border: 0;
    padding: 0;
    line-height: 1;
}
.table-responsive .left_bids button {
    background: none;
    border: 0;
    padding: 0;
    text-decoration: underline;
}

.position_absolute {
    bottom: -8px!important;
}
ngb-datepicker-navigation-select select{
    min-width: 0% !important;
}

.datatable-row-center .datatable-header-cell:nth-child(2), .datatable-row-center .datatable-body-cell:nth-child(2) {
    width: 180px!important;
}
.datatable-row-center .datatable-header-cell:nth-child(7), .datatable-row-center .datatable-body-cell:nth-child(7) {
    width: 200px!important;
}

.datatable-row-center .datatable-header-cell:nth-child(8), .datatable-row-center .datatable-body-cell:nth-child(8) {
    width: 150px!important;
}
.ngx-pagination .current{

        padding: 8px 16px !important;
        background: #db2d2e !important;
        color: #fefefe;
        cursor: default;
        border: 1px solid #ddd;

}

.pagination-nav ul li a{
    border: 1px solid #ddd !important;
    padding: 8px 16px !important;
}


.ngx-pagination .disabled {
    border: 1px solid #ddd !important;
    padding: 8px 16px !important;
}

.ngx-pagination li{
    margin:0 5px;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{
    margin-left:0px !important;
}
.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before{
    margin-right:0px !important;
}

.ngx-pagination a:hover, .ngx-pagination button:hover{
    background:#db2d2e !important;
    color:#fff;
}