<!--=================================
 breadcrumbs and inner-intro -->

<app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<!--=================================
  breadcrumbs and inner-intro -->



<!--=================================
 Dealerships Listing  -->

<section class="blog page-section-ptb pad-b-30">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="listing_outer blog-sidebar">
          <div class="sidebar-widget">
            
            <div class="text-md-right mt-md-0 mt-sm-3">
                <button class="button red" (click)="show(1,'createDealership')"> New Dealership </button>
              <div class="widget-search ml-4">
                <i class="fa fa-search"></i>
                <input type="search" class="form-control placeholder" (input)="onSearch($event.target.value)"
                  placeholder="Search....">
              </div>
            </div>
          </div>
          <div class="sidebar-widget">
            <div class="unordered-lists table-responsive text-center">             

              <ngx-datatable #myTable class="bootstrap" [rows]="dealerships" [sorts]="[{prop: 'created', dir: 'desc'}]"
                [columnMode]="'force'" [headerHeight]="50" [loadingIndicator]="isLoading" [limit]="currentPageLimit"
                [footerHeight]="80" [rowHeight]="50" (sort)="onSort($event)" (page)="setPage($event)">

                <ngx-datatable-column name="Image" [sortable]="true" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="avtar" *ngIf="row.profile_pic"><img title="Dealership Avatar" class="img-fluid"
                        src="{{row.profile_pic}}"></span>
                    <span class="avtar" *ngIf="!row.profile_pic"><img title="Default Dealership Avatar"
                        class="img-fluid" src="/assets/images/default-user.png"></span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name" [sortable]="true" [width]="200" prop="legalcoroporationname">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.legalcoroporationname }}
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Number" [sortable]="true" [width]="200" prop="dealershipnumber">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.dealershipnumber }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Legal Contacts" prop="row.legal_contacts?.name.first_name" [sortable]="true" [width]="200">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <span *ngFor="let contact of row?.legal_contacts"><b *ngIf="contact.default_legal_contact">
                        {{contact.name.first_name}}</b> </span>
                    <span *ngIf="row?.legal_contacts?.length" class="legel_contact_count"> <button
                        title="View Legal Contacts" (click)="show(rowIndex, 'viewLegalContacts')"
                        class="left_bids  badge badge-danger">{{row?.legal_contacts?.length}}</button></span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="city" [sortable]="true" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.city }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="state"  [sortable]="true" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.state }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="zip" [sortable]="true" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.zip }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="created At" prop="created_at" [sortable]="true" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.created_at | date:'dd-MM-yyyy h:mm' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action" [sortable]="false" [width]="200">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>

                    <span class="actions">
                      <button title="Add Legal Contact" type="button"
                        (click)="showCreateLegalContact(rowIndex,row._id)">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                      </button>
                      <button title="Edit Dealership" type="button" (click)="show(rowIndex, 'editDealership')">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                      <button title="View Dealership Info" type="button" (click)="show(rowIndex, 'viewDealership')">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>

                      <button title="Remove Dealership" type="button" (click)="delete(row)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                    let-isVisible="isVisible">
                    <div class="page-count">
                    <span *ngIf="selectedMessage">
                      {{selectedCount.toLocaleString()}} {{selectedMessage}} / 
                    </span>
                    {{rowCount.toLocaleString()}} {{totalMessage}}
                  </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                      [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                      [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                      [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                    </datatable-pager>

                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
            <!-- number of records per page dropmenu  -->
            <div *ngIf="dealerships.length>0" class="sorting-options position_absolute">
              <div class="selected-box">
                <div class="register-form selected-box">

                  <select class="selectpicker" id="per-page" (change)="onLimitChange($event.target.value)">
                    <option *ngFor="let option of pageLimitOptions" [value]="option.value"
                      [selected]="option.value == currentPageLimit">
                      {{ option.value }} results
                    </option>
                  </select>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- dealership details  -->
<app-dealership-view [isOpen]="isDealershipModalOpened" [dealershipObject]="dealershipObject"></app-dealership-view>

<!-- legal-contacts-listing -->
<app-contact-view [isOpen]="isModalOpened" [dealershipObject]="dealershipObject"></app-contact-view>

<!-- Add new dealership  -->
<app-create-dealership [dealershipsItems]="dealershipsItems" [updateExistingDealership]="updateExistingDealership" [isOpen]="isCreateDealershipModalOpened"></app-create-dealership>

<!-- Add new-legal-contact -->
<app-create-contact [dealershipId]="dealershipId" [legalContactItems]="legalContactItems" [isOpen]="isCreateContactModalOpened"></app-create-contact>


