<!--=================================
  register-form  -->
<section class="register-form page-section-ptb pt-4">
  <div class="container">

    <div class="row ">
      <div class="col-md-8 mx-auto">
        <div class="verify_box ">
          <div class="verify_inner">
            <div class="section-title mb-0">
              <img src="../../../../assets/images/imgpsh_fullsize_anim.png" />
              <h2>Verify It's You</h2>
              <div class="separator"></div>
              <h6>Your Account is not verified! Verification Link Has Been Sent To Your Email, Please Verify The Account
                First.</h6>

              <p>Did not get verification link ? <a (click)="reSendVerificationLink()"
                  class="Resend_verification_link">Resend Verification Link </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<!-- =================================
      signup-otp-form  -->
<!-- Modal -->



<!--=================================
      confirm otp-form  -->
