<!--=================================
 breadcrumbs and inner-intro -->

<app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>



<section class="car-details page-section-ptb">
  <div class="container">


    <div class="row">
      <div class="col-md-8">
        <div class="Product_slider relative">

          <div class="image_filter">
            <div class="filter_dropdown">
              <a (click)="imageFilterToggle()" href="javascript:void(0)" id="filter_menu_link"><img
                  src="assets/images/filter_icon.png"></a>

              <div *ngIf="isImageFilterEnable" class="filter_dropdown-menu remember-checkbox">
                <ul>
                  <li><input type="checkbox" value="exterior" (change)="onImageFilter($event)" id="exterior"> <label
                      for="exterior">Exterior</label></li>
                  <li><input type="checkbox" value="interior" id="interior" (change)="onImageFilter($event)"> <label
                      for="interior">Interior</label></li>

                </ul>






              </div>
            </div>
          </div>

          <div class="Full_view">




            <div *ngFor="let carImg of allCategoryCars">

              <div  class="Product_Slide">
                <img src="/assets/images/bg/cars/big/{{carImg.name}}" alt="" class="img-fluid">
              </div>
            </div>

          </div>
          <div>
            <ul class="Product_nav">
              <li *ngFor="let carThumbImg of allCategoryCars">
                <div class="product_nav_inner">
                  <img src="/assets/images/bg/cars/small/{{carThumbImg.name}}" alt=""
                    class="img-fluid img-thumbnail">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="tabs">
          <ul class="tabs">
            <li data-tabs="tab1" class="active"> <span aria-hidden="true" class="icon-diamond"></span> Key Details</li>
            <li data-tabs="tab2"><span aria-hidden="true" class="icon-list"></span>Vehicle History</li>
            <li data-tabs="tab3"> <span aria-hidden="true" class="icon-equalizer"></span> Features</li>
            <li data-tabs="tab4"> <span aria-hidden="true" class="icon-equalizer"></span> Seller Comments</li>
            <li data-tabs="tab5"> <span aria-hidden="true" class="icon-equalizer"></span> Market Value</li>
          </ul>
          <div id="tab1" class="tabcontent">
            <div class="row">
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="tab2" class="tabcontent">
            <div class="row">
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="tab3" class="tabcontent">
            <div class="row">
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="tab4" class="tabcontent">
            <div class="row">
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="tab5" class="tabcontent">
            <div class="row">
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{carDetail?.make}} {{carDetail?.model}}</h3>
        <p>{{carDetail?.comments}}</p>


        <div class="car-details-sidebar">
          <div class="details-block details-weight">

            <ul>

              <li class="bg-grey"> <span>VIN No</span> <strong class="text-right">{{carDetail?.vin}}</strong></li>
              <li class="bg-grey"> <span>Mileage</span> <strong class="text-right">{{carDetail?.mileage | number}}
                  km/hwy</strong></li>
              <li class="bg-grey"> <span>Year </span> <strong class="text-right">{{carDetail?.year}}</strong></li>
              <li class="bg-grey"> <span>Make </span> <strong
                  class="text-right">{{carDetail?.make | titlecase}}</strong></li>
              <li class="bg-grey"> <span>Model</span> <strong
                  class="text-right">{{carDetail?.model | titlecase}}</strong></li>
              <li class="bg-grey"> <span>Trim</span> <strong class="text-right">{{carDetail?.trim | titlecase}}</strong>
              </li>
              <li class="bg-grey"> <span>Offer in hand</span> <strong
                  class="text-right">{{carDetail?.offer_in_hand | currency:'USD':true:'2.2-2'}}</strong></li>
              <li class="bg-grey"> <span>Seller Location</span> <strong class="text-right">{{carDetail?.location?.state | titlecase}}</strong></li>
            </ul>
          </div>
          <!--<div class="details-social details-weight">
              <h5>Share now</h5>
              <ul>
                <li><a href="#"> <i class="fa fa-facebook"></i> facebook</a></li>
                <li><a href="#"> <i class="fa fa-twitter"></i> twitter</a></li>
                <li><a href="#"> <i class="fa fa-pinterest-p"></i> pinterest</a></li>
                <li><a href="#"> <i class="fa fa-dribbble"></i> dribbble</a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i> google plus </a></li>
                <li><a href="#"> <i class="fa fa-behance"></i> behance</a></li>
              </ul>
              </div>-->

        </div>
      </div>
    </div>
  </div>
</section>