
 
 
 <!--=================================
  register-form  -->
 <section  class="register-form page-section-ptb">
   <div class="container">
     <div class="row ">
       <div class="col-md-12">
         
        <div class="verify_box">
            <div class="section-title">
              <img src="../../../../assets/images/verify_icon.png"/>
              <h2 >Your Account is not verified! verification link has been sent to your email please verify the account first</h2>
              
              <div class="separator"></div>
            </div> 
            <div class="verify_inner">
             
           
              <p>Did't get email verification link ?  <a (click)="reSendVerificationLink()">Resend Verify Link </a></p>
            </div>   
         </div>

          

        
       </div>
     </div>





     
   </div>
 </section>
 
 <!-- =================================
  signup-otp-form  -->
 <!-- Modal -->

 
 
  <!--=================================
  confirm otp-form  -->
