<!--=================================
 breadcrumbs and inner-intro -->

 <app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>



 <!--=================================
 car-details -->
 
 <section class="car-details page-section-ptb">
     <div class="container">
       <div class="row">
        <div class="col-md-9">
          <h3>{{carDetail?.make}} {{carDetail?.model}} </h3>
          <p> {{carDetail?.comments}}</p>
         </div>
        <div class="col-md-3">
         <div class="car-price text-md-right">
            <strong>{{carDetail?.offer_in_hand | currency:'USD':true:'2.2-2'}}</strong>
            <span>Plus Taxes & Licensing</span>
          </div> 
         </div> 
       </div>
       <div class="row">
         <div class="col-md-12">
           <div class="details-nav">
               <ul>
                 <li>
                   <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-question-circle"></i>Request More Info
                   </a>
                   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h4 class="modal-title" id="exampleModalLabel">Request More Info</h4>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                         </div>
                         <div class="modal-body">
                           <p class="sub-title">Please fill out the information below and one of our representatives will contact you regarding your more information request. </p>
                           <form class="gray-form reset_css" id="rmi_form" action="post">
                             <input type="hidden" name="action" value="request_more_info" />
                             <div class="alrt">
                               <span class="alrt"></span>
                             </div>
                             <div class="form-group">
                               <label>Name*</label>
                               <input type="text" class="form-control" name="rmi_name" id="rmi_name" />
                             </div>
                             <div class="form-group">
                               <label>Email address*</label>
                               <input type="text" class="form-control" name="rmi_email" id="rmi_email" />
                             </div>
                             <div class="form-group">
                               <label>Phone*</label>
                               <input type="text" class="form-control"  id="rmi_phone" name="rmi_phone" >
                             </div>
                             <div class="form-group">
                               <label>Message</label>
                               <textarea class="form-control" name="rmi_message" id="rmi_message"></textarea>                            
                             </div>
                             <div class="form-group">
                               <label>Preferred Contact*</label>
                               <div class="radio">
                                 <label><input type="radio" name="rmi_radio" value="Email" checked="checked"/>Email</label>
                               </div>
                               <div class="radio">
                                 <label><input type="radio" name="rmi_radio" value="Phone" />Phone</label>
                               </div>
                             </div>
                             <div class="form-group">
                               <div id="recaptcha1"></div>
                             </div>
                             <div class="form-group">
                               <a class="button red" id="request_more_info_submit">Submit</a>
                               <i class="fa fa-refresh fa-spin fa-3x fa-fw load_spiner"  style="display: none;"></i>
                             </div>
                           </form>
                         </div>
                       </div>
                     </div>
                   </div>
                 </li>
                 <li><a href="javascript:window.print()"><i class="fa fa-print"></i>Print this page</a></li>
                 
                
                
                
               </ul>
            </div>
         </div>
       </div>
       <div class="row">
        <div class="col-md-6">
           <div class="slider-slick relative">
 
               <div class="image_filter">
                   <div class="filter_dropdown">
                     <a (click)="imageFilterToggle()" href="javascript:void(0)" id="filter_menu_link"><img
                         src="assets/images/filter_icon.png"></a>
       
                     <div *ngIf="isImageFilterEnable" class="filter_dropdown-menu remember-checkbox">
                       <ul>
                         <li><input type="checkbox" value="exterior" (change)="onImageFilter($event)" id="exterior"> <label
                             for="exterior">Exterior</label></li>
                         <li><input type="checkbox" value="interior" id="interior" (change)="onImageFilter($event)"> <label
                             for="interior">Interior</label></li>
       
                       </ul>
       
       
       
       
       
       
                     </div>
                   </div>
                 </div>
               <div class="slider slider-for detail-big-car-gallery"> 
                 <span *ngFor="let carImg of allCategoryCars">
                     <img src="/assets/images/bg/cars/big/{{carImg.name}}" alt="" class="img-fluid">
                 </span>                 
               </div>
               <div class="slider slider-nav"> 
                   <span *ngFor="let carThumbImg of allCategoryCars">
                       <img src="/assets/images/bg/cars/small/{{carThumbImg.name}}" alt=""
                     class="img-fluid">
                   </span>    
                   
               </div>
            </div>
           
        </div>
        <div class="col-md-6">
          <div class="car-details-sidebar car-details-page">
             <div class="details-block details-weight">
               <h5>DESCRIPTION</h5>
               <ul>
                 <li> <span>Make</span> 
                   <strong class="text-right">{{carDetail?.make | titlecase}}</strong>
                 </li>
                 <li> <span>Model</span> 
                   <strong class="text-right">{{carDetail?.model | titlecase}}</strong>
                 </li>
                 <li> <span>Registration year </span> 
                   <strong class="text-right">{{carDetail?.year}}</strong>
                 </li>
                 <li> <span>Mileage</span> 
                   <strong class="text-right">{{carDetail?.miles | number}} mi</strong>
                 </li>               
                 <li> <span>Exterior Color</span> 
                   <strong class="text-right">{{carDetail?.exterior_color | titlecase}}</strong>
                 </li>
                 <li> <span>Interior Color</span> 
                   <strong class="text-right">{{carDetail?.interior_color | titlecase}}</strong>
                 </li>
                 <li> <span>Drive Type</span>
                    <strong class="text-right">{{carDetail?.drive_type | titlecase}}</strong>
                   </li>
               </ul>
              </div>
              </div>
           </div>
          </div>
          <div class="row">
            <div class="col-lg-9 col-md-9  col-sm-9">
              <div id="tabs">
             <ul class="tabs">
                <li data-tabs="tab1" class="active"> <span aria-hidden="true" class="icon-diamond"></span> Details & Specs</li>
                <li data-tabs="tab2"><span aria-hidden="true" class="icon-list"></span>Vehicle History</li>
                <li data-tabs="tab3"> <span aria-hidden="true" class="icon-equalizer"></span> Seller Comments</li>
                <li data-tabs="tab4"> <span aria-hidden="true" class="icon-equalizer"></span> Market Value</li>
              </ul>
              <div id="tab1" class="tabcontent"> 
                 {{carDetail?.comments}}
            </div>
            <div id="tab2" class="tabcontent"> 
               <h6>consectetur adipisicing elit</h6>   
                 <table class="table table-bordered">
                    
                   <tbody>
                     <tr>
                       <th scope="row"> Body</th>
                       <td>Mark</td>
                     </tr>
                     <tr>
                       <th scope="row"> Trim</th>
                       <td>Jacob</td>
                     </tr>
                     <tr>
                       <th scope="row"> VIN</th>
                       <td>Larry</td>
                     </tr>
                     <tr>
                       <th scope="row"> Engine</th>
                       <td>Larry</td>
                     </tr>
                     <tr>
                       <th scope="row">Transmission</th>
                       <td>Larry</td>
                     </tr>
                     <tr>
                       <th scope="row">Mileage</th>
                       <td> {{carDetail?.mileage | number}} km/hwy</td>
                     </tr>
                   </tbody>
                 </table>
            </div>
            <div id="tab3" class="tabcontent"> 
               {{carDetail?.comments}}
            </div>
            <div id="tab4" class="tabcontent"> 
               {{carDetail?.comments}}
           </div>
         </div>
            
            </div>
 
            <div class="col-md-3">
            <div class="details-social details-weight">
               <h5>Share now</h5>
               <ul>
                 <li><a href="#"> <i class="fa fa-facebook"></i> facebook</a></li>
                 <li><a href="#"> <i class="fa fa-twitter"></i> twitter</a></li>
                 <li><a href="#"> <i class="fa fa-pinterest-p"></i> pinterest</a></li>
                 <li><a href="#"> <i class="fa fa-dribbble"></i> dribbble</a></li>
                 <li><a href="#"><i class="fa fa-linkedin"></i> google plus </a></li>
                 <li><a href="#"> <i class="fa fa-behance"></i> behance</a></li>
               </ul>
               </div>
             </div>
            <!--<div class="col-md-3">
               <div class="car-details-sidebar">
                <div class="details-form contact-2 details-weight">
                  <form class="gray-form">
                   <h5>SEND ENQUIRY</h5>
                   <div class="form-group">
                      <label>Name*</label>
                      <input type="text" class="form-control" placeholder="Name">
                   </div>
                    <div class="form-group">
                       <label>Email address*</label>
                       <input type="text" class="form-control" placeholder="Email">
                   </div>
                    <div class="form-group">
                       <label>password*</label>
                       <input type="text" class="form-control" placeholder="Password">
                   </div>
                    <div class="form-group">
                      <label>Comment* </label>
                      <textarea class="form-control" rows="4" placeholder="Comment"></textarea>
                     </div>
                    <div class="form-group">
                     <a class="button red" href="#">Request a service</a>
                   </div>
                 </form>
               </div>            
              </div>
            </div>-->
          </div>
          <div class="feature-car">
          <h6>Recently Vehicle</h6>
      <div class="row">
         <div class="col-md-12">
            <div class="owl-carousel" data-nav-arrow="true" data-nav-dots="true" data-items="4" data-md-items="4" data-sm-items="2" data-xs-items="2" data-space="15">
           <div class="item">
            <div class="car-item gray-bg text-center">
              <div class="car-image">
                <img class="img-fluid" src="/assets/images/bg/cars/small/01.jpg" alt="">
                <div class="car-overlay-banner">
                 <ul> 
                   <li><a href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
                   <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="car-list">
                <ul class="list-inline">
                  <li><i class="fa fa-registered"></i> 2016</li>
                  <li><i class="fa fa-cog"></i> Manual </li>
                  <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                </ul>
             </div>
              <div class="car-content">
               <div class="star">
                <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star-o orange-color"></i>
                </div>
                <a href="javascript:void(0)"> Acura Rsx</a>
                <div class="separator"></div>
                <div class="price">
                  <span class="old-price">$35,568</span>
                  <span class="new-price">$32,698 </span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="car-item gray-bg text-center">
              <div class="car-image">
                 <img class="img-fluid" src="/assets/images/bg/cars/small/02.jpg" alt="">
                <div class="car-overlay-banner">
                 <ul> 
                   <li><a href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
                   <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="car-list">
                <ul class="list-inline">
                  <li><i class="fa fa-registered"></i> 2016</li>
                  <li><i class="fa fa-cog"></i> Manual </li>
                  <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                </ul>
             </div>
              <div class="car-content">
               <div class="star">
                <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star-o orange-color"></i>
                </div>
                <a href="javascript:void(0)">Lexus GS 450h</a>
                <div class="separator"></div>
                <div class="price">
                  <span class="old-price">$35,568</span>
                  <span class="new-price">$32,698 </span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="car-item gray-bg text-center">
              <div class="car-image">
                <img class="img-fluid" src="/assets/images/bg/cars/small/03.jpg" alt="">
                <div class="car-overlay-banner">
                 <ul> 
                   <li><a href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
                   <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="car-list">
                <ul class="list-inline">
                  <li><i class="fa fa-registered"></i> 2016</li>
                  <li><i class="fa fa-cog"></i> Manual </li>
                  <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                </ul>
             </div>
              <div class="car-content">
               <div class="star">
                <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star-o orange-color"></i>
                </div>
                <a href="javascript:void(0)">GTA 5 Lowriders DLC</a>
                <div class="separator"></div>
                <div class="price">
                  <span class="old-price">$35,568</span>
                  <span class="new-price">$32,698 </span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="car-item gray-bg text-center">
              <div class="car-image">
                <img class="img-fluid" src="/assets/images/bg/cars/small/01.jpg" alt="">
                <div class="car-overlay-banner">
                 <ul> 
                   <li><a href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
                   <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="car-list">
                <ul class="list-inline">
                  <li><i class="fa fa-registered"></i> 2016</li>
                  <li><i class="fa fa-cog"></i> Manual </li>
                  <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                </ul>
             </div>
              <div class="car-content">
               <div class="star">
                <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star-o orange-color"></i>
                </div>
                <a href="javascript:void(0)">Toyota avalon hybrid </a>
                <div class="separator"></div>
                <div class="price">
                  <span class="old-price">$35,568</span>
                  <span class="new-price">$32,698 </span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="car-item gray-bg text-center">
              <div class="car-image">
                <img class="img-fluid" src="/assets/images/bg/cars/small/02.jpg" alt="">
                <div class="car-overlay-banner">
                 <ul> 
                   <li><a href="javascript:void(0)"><i class="fa fa-link"></i></a></li>
                   <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="car-list">
                <ul class="list-inline">
                  <li><i class="fa fa-registered"></i> 2016</li>
                  <li><i class="fa fa-cog"></i> Manual </li>
                  <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                </ul>
             </div>
              <div class="car-content">
               <div class="star">
                <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star orange-color"></i>
                 <i class="fa fa-star-o orange-color"></i>
                </div>
                <a href="javascript:void(0)">Hyundai santa fe sport </a>
                <div class="separator"></div>
                <div class="price">
                  <span class="old-price">$35,568</span>
                  <span class="new-price">$32,698 </span>
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
   </section>
   
   <!--=================================
   car-details  -->