<div class="modal show" #contentSection id="moreBidForm"   tabindex="-1" role="dialog"
  aria-labelledby="moreBidForm">
  <div class="modal-dialog  mw-75 border-none  mx-auto" role="document">
    <div class="modal-content">

      <div class="modal-header bg-transparent pl-2">
        <h5 class="modal-title" id="exampleModalLabel">Car Bid Listing</h5>
        <button  type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <div class="car-details">
          <div class="container">

            <div class="row">
              <div class="col-md-12">

                <div class="sidebar-widget">
                  <div class="unordered-lists table-responsive text-center">
                    <table class="table table-bordered-custom-modal table-striped table-image-set">
                      <thead class="thead-dark-custom-modal">
                        <tr>                        
                          <th>Dealership Logo</th>
                          <th>Dealership</th>
                          <th>Legal Contact</th>
                          <th>Price</th>
                          <th>Buyer Rating</th>
                          <th>Applied On</th>      
                          <th>Action</th>                          
                        </tr>
                      </thead>
                      <tbody *ngIf="bids?.length <= 0">
                        <tr>
                          <td colspan="4" style="text-align:center">No records to display.</td>
                        </tr>
                      </tbody>

                      <tbody *ngIf="bids?.length>0">

                        <tr *ngFor="let bid of bids; let i = index">

                         
                          <td><div class="profile_img"><img  class="img-fluid" [src]="bid?.dealership[0]?.profilepic?bid?.dealership[0]?.profilepic:'assets/images/dealershiplogo.png'"/></div></td>
                          <td>{{ bid?.dealership[0]?.legalcoroporationname}}</td>
                          <td>{{ bid.bids[bid.bids.length-1]?.legal_contact}} </td>
                          <td>{{ bid.bids[bid.bids.length-1]?.price | currency:'USD':true:'2.2-2'}}</td>             
                          <td>
                              <ngb-rating [readonly]="true" aria-labelledby="Rating & Review" [max]="5" [rate]="bid?.dealer_rating_average">
                                </ngb-rating>
                                <span class="rating-number">({{bid?.dealer_rating_average}}/5)</span></td>
                          <td> {{ bid?.bids[bid.bids.length-1]?.bid_date | date:'MM-dd-yyyy'}}</td>  
                          <td> <span class="accept_btn" *ngIf="bid?.bid_acceptance =='active'" (click)="acceptBid(bid?._id)">Accept</span>
                            <span class="accept_btn" *ngIf="bid?.bid_acceptance !='active'" >{{bid?.bid_acceptance}}</span></td>                         
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

