<div class="modal fade" #carViewSection id="carViewForm" tabindex="-1" role="dialog" aria-labelledby="carViewForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="car-details">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-8">

                                <div class="Product_slider">
                                    <h5>Ford Mustang (GT Fastback)</h5>
                                    <div class="Full_view">
                                        <div *ngFor="let carImg of carObject?.images">

                                            <div class="Product_Slide"><img src="/assets/images/bg/cars/big/{{carImg}}"
                                                    alt="" class="img-fluid"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <ul class="Product_nav">
                                            <li *ngFor="let carThumbImg of carObject?.images">
                                                <div class="product_nav_inner"><img
                                                        src="/assets/images/bg/cars/small/{{carThumbImg}}" alt=""
                                                        class="img-fluid img-thumbnail"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="Car_details">
                                    <ul>
                                        <li><strong>VIN No -</strong> 12347894</li>
                                        <li><strong>Mileage -</strong> 25 km/Hwy</li>
                                        <li><strong>Year -</strong>2016</li>
                                        <li><strong>Make -</strong> Ford</li>
                                        <li><strong>Model -</strong>Mustang</li>
                                        <li><strong>Trim -</strong>LX</li>
                                        <li><strong>Offer in Hand -</strong>$5000</li>
                                        <li><strong>Seller Location -</strong> NV</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="tabs">
                                    <ul class="tabs">
                                        <li data-tabs="tab1" class="active"> <span aria-hidden="true"
                                                class="icon-diamond"></span> Key Details</li>
                                        <li data-tabs="tab2" class=""> <span aria-hidden="true"
                                                class="icon-diamond"></span> Vehicale History</li>
                                        <li data-tabs="tab3" class=""> <span aria-hidden="true"
                                                class="icon-diamond"></span> Features</li>
                                        <li data-tabs="tab4" class=""> <span aria-hidden="true"
                                                class="icon-diamond"></span> Seller Comments</li>
                                        <li data-tabs="tab5" class=""> <span aria-hidden="true"
                                                class="icon-diamond"></span> Market Value</li>
                                    </ul>
                                    <div id="tab1" class="tabcontent">
                                        <ul class="list-style-1">
                                            <li><i class="fa fa-check"></i><strong>VIN No -</strong> 12347894</li>
                                            <li><i class="fa fa-check"></i><strong>Mileage -</strong> 25 km/Hwy</li>
                                            <li><i class="fa fa-check"></i><strong>Year -</strong>2016</li>
                                            <li><i class="fa fa-check"></i><strong>Make -</strong> Ford</li>
                                            <li><i class="fa fa-check"></i><strong>Model -</strong>Mustang</li>
                                            <li><i class="fa fa-check"></i><strong>Trim -</strong>LX</li>
                                            <li><i class="fa fa-check"></i><strong>Offer in Hand -</strong>$5000</li>
                                            <li><i class="fa fa-check"></i><strong>Seller Location -</strong> NV</li>
                                        </ul>
                                    </div>
                                    <div id="tab2" class="tabcontent">
                                        <ul class="list-style-1">
                                            <li><i class="fa fa-check"></i><strong>VIN No -</strong> 12347894</li>
                                            <li><i class="fa fa-check"></i><strong>Mileage -</strong> 25 km/Hwy</li>
                                            <li><i class="fa fa-check"></i><strong>Year -</strong>2016</li>
                                            <li><i class="fa fa-check"></i><strong>Make -</strong> Ford</li>
                                            <li><i class="fa fa-check"></i><strong>Model -</strong>Mustang</li>
                                            <li><i class="fa fa-check"></i><strong>Trim -</strong>LX</li>
                                            <li><i class="fa fa-check"></i><strong>Offer in Hand -</strong>$5000</li>
                                            <li><i class="fa fa-check"></i><strong>Seller Location -</strong> NV</li>
                                        </ul>
                                    </div>
                                    <div id="tab3" class="tabcontent">
                                        <ul class="list-style-1">
                                            <li><i class="fa fa-check"></i><strong>VIN No -</strong> 12347894</li>
                                            <li><i class="fa fa-check"></i><strong>Mileage -</strong> 25 km/Hwy</li>
                                            <li><i class="fa fa-check"></i><strong>Year -</strong>2016</li>
                                            <li><i class="fa fa-check"></i><strong>Make -</strong> Ford</li>
                                            <li><i class="fa fa-check"></i><strong>Model -</strong>Mustang</li>
                                            <li><i class="fa fa-check"></i><strong>Trim -</strong>LX</li>
                                            <li><i class="fa fa-check"></i><strong>Offer in Hand -</strong>$5000</li>
                                            <li><i class="fa fa-check"></i><strong>Seller Location -</strong> NV</li>
                                        </ul>
                                    </div>
                                    <div id="tab4" class="tabcontent">
                                        <ul class="list-style-1">
                                            <li><i class="fa fa-check"></i><strong>VIN No -</strong> 12347894</li>
                                            <li><i class="fa fa-check"></i><strong>Mileage -</strong> 25 km/Hwy</li>
                                            <li><i class="fa fa-check"></i><strong>Year -</strong>2016</li>
                                            <li><i class="fa fa-check"></i><strong>Make -</strong> Ford</li>
                                            <li><i class="fa fa-check"></i><strong>Model -</strong>Mustang</li>
                                            <li><i class="fa fa-check"></i><strong>Trim -</strong>LX</li>
                                            <li><i class="fa fa-check"></i><strong>Offer in Hand -</strong>$5000</li>
                                            <li><i class="fa fa-check"></i><strong>Seller Location -</strong> NV</li>
                                        </ul>
                                    </div>
                                    <div id="tab5" class="tabcontent">
                                        <ul class="list-style-1">
                                            <li><i class="fa fa-check"></i><strong>VIN No -</strong> 12347894</li>
                                            <li><i class="fa fa-check"></i><strong>Mileage -</strong> 25 km/Hwy</li>
                                            <li><i class="fa fa-check"></i><strong>Year -</strong>2016</li>
                                            <li><i class="fa fa-check"></i><strong>Make -</strong> Ford</li>
                                            <li><i class="fa fa-check"></i><strong>Model -</strong>Mustang</li>
                                            <li><i class="fa fa-check"></i><strong>Trim -</strong>LX</li>
                                            <li><i class="fa fa-check"></i><strong>Offer in Hand -</strong>$5000</li>
                                            <li><i class="fa fa-check"></i><strong>Seller Location -</strong> NV</li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
